<h1>Listing game_recaps</h1>

<table>
  <thead>
    <tr>
      <th>Game string</th>
      <th>Datey</th>
      <th>Dashy date</th>
      <th>Afname</th>
      <th>Hfname</th>
      <th>Atotal</th>
      <th>Htotal</th>
      <th>Arena</th>
      <th>Capacity</th>
      <th>Attendance</th>
      <th>Ref1</th>
      <th>Ref2</th>
      <th>Ref3</th>
      <th>Hp1 name</th>
      <th>Hp1 min</th>
      <th>Hp1 pts</th>
      <th>Hp1 fgma</th>
      <th>Hp1 3pma</th>
      <th>Hp1 ftma</th>
      <th>Hp1 oreb</th>
      <th>Hp1 dreb</th>
      <th>Hp1 reb</th>
      <th>Hp1 ast</th>
      <th>Hp1 stl</th>
      <th>Hp1 blk</th>
      <th>Hp1 to</th>
      <th>Hp1 pf</th>
      <th>Hp1 starter</th>
      <th>Hp2 name</th>
      <th>Hp2 min</th>
      <th>Hp2 pts</th>
      <th>Hp2 fgma</th>
      <th>Hp2 3pma</th>
      <th>Hp2 ftma</th>
      <th>Hp2 oreb</th>
      <th>Hp2 dreb</th>
      <th>Hp2 reb</th>
      <th>Hp2 ast</th>
      <th>Hp2 stl</th>
      <th>Hp2 blk</th>
      <th>Hp2 to</th>
      <th>Hp2 pf</th>
      <th>Hp2 starter</th>
      <th>Hp3 name</th>
      <th>Hp3 min</th>
      <th>Hp3 pts</th>
      <th>Hp3 fgma</th>
      <th>Hp3 3pma</th>
      <th>Hp3 ftma</th>
      <th>Hp3 oreb</th>
      <th>Hp3 dreb</th>
      <th>Hp3 reb</th>
      <th>Hp3 ast</th>
      <th>Hp3 stl</th>
      <th>Hp3 blk</th>
      <th>Hp3 to</th>
      <th>Hp3 pf</th>
      <th>Hp3 starter</th>
      <th>Hp4 name</th>
      <th>Hp4 min</th>
      <th>Hp4 pts</th>
      <th>Hp4 fgma</th>
      <th>Hp4 3pma</th>
      <th>Hp4 ftma</th>
      <th>Hp4 oreb</th>
      <th>Hp4 dreb</th>
      <th>Hp4 reb</th>
      <th>Hp4 ast</th>
      <th>Hp4 stl</th>
      <th>Hp4 blk</th>
      <th>Hp4 to</th>
      <th>Hp4 pf</th>
      <th>Hp4 starter</th>
      <th>Hp5 name</th>
      <th>Hp5 min</th>
      <th>Hp5 pts</th>
      <th>Hp5 fgma</th>
      <th>Hp5 3pma</th>
      <th>Hp5 ftma</th>
      <th>Hp5 oreb</th>
      <th>Hp5 dreb</th>
      <th>Hp5 reb</th>
      <th>Hp5 ast</th>
      <th>Hp5 stl</th>
      <th>Hp5 blk</th>
      <th>Hp5 to</th>
      <th>Hp5 pf</th>
      <th>Hp5 starter</th>
      <th>Hp6 name</th>
      <th>Hp6 min</th>
      <th>Hp6 pts</th>
      <th>Hp6 fgma</th>
      <th>Hp6 3pma</th>
      <th>Hp6 ftma</th>
      <th>Hp6 oreb</th>
      <th>Hp6 dreb</th>
      <th>Hp6 reb</th>
      <th>Hp6 ast</th>
      <th>Hp6 stl</th>
      <th>Hp6 blk</th>
      <th>Hp6 to</th>
      <th>Hp6 pf</th>
      <th>Hp6 starter</th>
      <th>Hp7 name</th>
      <th>Hp7 min</th>
      <th>Hp7 pts</th>
      <th>Hp7 fgma</th>
      <th>Hp7 3pma</th>
      <th>Hp7 ftma</th>
      <th>Hp7 oreb</th>
      <th>Hp7 dreb</th>
      <th>Hp7 reb</th>
      <th>Hp7 ast</th>
      <th>Hp7 stl</th>
      <th>Hp7 blk</th>
      <th>Hp7 to</th>
      <th>Hp7 pf</th>
      <th>Hp7 starter</th>
      <th>Hp8 name</th>
      <th>Hp8 min</th>
      <th>Hp8 pts</th>
      <th>Hp8 fgma</th>
      <th>Hp8 3pma</th>
      <th>Hp8 ftma</th>
      <th>Hp8 oreb</th>
      <th>Hp8 dreb</th>
      <th>Hp8 reb</th>
      <th>Hp8 ast</th>
      <th>Hp8 stl</th>
      <th>Hp8 blk</th>
      <th>Hp8 to</th>
      <th>Hp8 pf</th>
      <th>Hp8 starter</th>
      <th>Hp9 name</th>
      <th>Hp9 min</th>
      <th>Hp9 pts</th>
      <th>Hp9 fgma</th>
      <th>Hp9 3pma</th>
      <th>Hp9 ftma</th>
      <th>Hp9 oreb</th>
      <th>Hp9 dreb</th>
      <th>Hp9 reb</th>
      <th>Hp9 ast</th>
      <th>Hp9 stl</th>
      <th>Hp9 blk</th>
      <th>Hp9 to</th>
      <th>Hp9 pf</th>
      <th>Hp9 starter</th>
      <th>Hp10 name</th>
      <th>Hp10 min</th>
      <th>Hp10 pts</th>
      <th>Hp10 fgma</th>
      <th>Hp10 3pma</th>
      <th>Hp10 ftma</th>
      <th>Hp10 oreb</th>
      <th>Hp10 dreb</th>
      <th>Hp10 reb</th>
      <th>Hp10 ast</th>
      <th>Hp10 stl</th>
      <th>Hp10 blk</th>
      <th>Hp10 to</th>
      <th>Hp10 pf</th>
      <th>Hp10 starter</th>
      <th>Hp11 name</th>
      <th>Hp11 min</th>
      <th>Hp11 pts</th>
      <th>Hp11 fgma</th>
      <th>Hp11 3pma</th>
      <th>Hp11 ftma</th>
      <th>Hp11 oreb</th>
      <th>Hp11 dreb</th>
      <th>Hp11 reb</th>
      <th>Hp11 ast</th>
      <th>Hp11 stl</th>
      <th>Hp11 blk</th>
      <th>Hp11 to</th>
      <th>Hp11 pf</th>
      <th>Hp11 starter</th>
      <th>Hp12 name</th>
      <th>Hp12 min</th>
      <th>Hp12 pts</th>
      <th>Hp12 fgma</th>
      <th>Hp12 3pma</th>
      <th>Hp12 ftma</th>
      <th>Hp12 oreb</th>
      <th>Hp12 dreb</th>
      <th>Hp12 reb</th>
      <th>Hp12 ast</th>
      <th>Hp12 stl</th>
      <th>Hp12 blk</th>
      <th>Hp12 to</th>
      <th>Hp12 pf</th>
      <th>Hp12 starter</th>
      <th>Hp13 name</th>
      <th>Hp13 min</th>
      <th>Hp13 pts</th>
      <th>Hp13 fgma</th>
      <th>Hp13 3pma</th>
      <th>Hp13 ftma</th>
      <th>Hp13 oreb</th>
      <th>Hp13 dreb</th>
      <th>Hp13 reb</th>
      <th>Hp13 ast</th>
      <th>Hp13 stl</th>
      <th>Hp13 blk</th>
      <th>Hp13 to</th>
      <th>Hp13 pf</th>
      <th>Hp13 starter</th>
      <th>Ap1 name</th>
      <th>Ap1 min</th>
      <th>Ap1 pts</th>
      <th>Ap1 fgma</th>
      <th>Ap1 3pma</th>
      <th>Ap1 ftma</th>
      <th>Ap1 oreb</th>
      <th>Ap1 dreb</th>
      <th>Ap1 reb</th>
      <th>Ap1 ast</th>
      <th>Ap1 stl</th>
      <th>Ap1 blk</th>
      <th>Ap1 to</th>
      <th>Ap1 pf</th>
      <th>Ap1 starter</th>
      <th>Ap2 name</th>
      <th>Ap2 min</th>
      <th>Ap2 pts</th>
      <th>Ap2 fgma</th>
      <th>Ap2 3pma</th>
      <th>Ap2 ftma</th>
      <th>Ap2 oreb</th>
      <th>Ap2 dreb</th>
      <th>Ap2 reb</th>
      <th>Ap2 ast</th>
      <th>Ap2 stl</th>
      <th>Ap2 blk</th>
      <th>Ap2 to</th>
      <th>Ap2 pf</th>
      <th>Ap2 starter</th>
      <th>Ap3 name</th>
      <th>Ap3 min</th>
      <th>Ap3 pts</th>
      <th>Ap3 fgma</th>
      <th>Ap3 3pma</th>
      <th>Ap3 ftma</th>
      <th>Ap3 oreb</th>
      <th>Ap3 dreb</th>
      <th>Ap3 reb</th>
      <th>Ap3 ast</th>
      <th>Ap3 stl</th>
      <th>Ap3 blk</th>
      <th>Ap3 to</th>
      <th>Ap3 pf</th>
      <th>Ap3 starter</th>
      <th>Ap4 name</th>
      <th>Ap4 min</th>
      <th>Ap4 pts</th>
      <th>Ap4 fgma</th>
      <th>Ap4 3pma</th>
      <th>Ap4 ftma</th>
      <th>Ap4 oreb</th>
      <th>Ap4 dreb</th>
      <th>Ap4 reb</th>
      <th>Ap4 ast</th>
      <th>Ap4 stl</th>
      <th>Ap4 blk</th>
      <th>Ap4 to</th>
      <th>Ap4 pf</th>
      <th>Ap4 starter</th>
      <th>Ap5 name</th>
      <th>Ap5 min</th>
      <th>Ap5 pts</th>
      <th>Ap5 fgma</th>
      <th>Ap5 3pma</th>
      <th>Ap5 ftma</th>
      <th>Ap5 oreb</th>
      <th>Ap5 dreb</th>
      <th>Ap5 reb</th>
      <th>Ap5 ast</th>
      <th>Ap5 stl</th>
      <th>Ap5 blk</th>
      <th>Ap5 to</th>
      <th>Ap5 pf</th>
      <th>Ap5 starter</th>
      <th>Ap6 name</th>
      <th>Ap6 min</th>
      <th>Ap6 pts</th>
      <th>Ap6 fgma</th>
      <th>Ap6 3pma</th>
      <th>Ap6 ftma</th>
      <th>Ap6 oreb</th>
      <th>Ap6 dreb</th>
      <th>Ap6 reb</th>
      <th>Ap6 ast</th>
      <th>Ap6 stl</th>
      <th>Ap6 blk</th>
      <th>Ap6 to</th>
      <th>Ap6 pf</th>
      <th>Ap6 starter</th>
      <th>Ap7 name</th>
      <th>Ap7 min</th>
      <th>Ap7 pts</th>
      <th>Ap7 fgma</th>
      <th>Ap7 3pma</th>
      <th>Ap7 ftma</th>
      <th>Ap7 oreb</th>
      <th>Ap7 dreb</th>
      <th>Ap7 reb</th>
      <th>Ap7 ast</th>
      <th>Ap7 stl</th>
      <th>Ap7 blk</th>
      <th>Ap7 to</th>
      <th>Ap7 pf</th>
      <th>Ap7 starter</th>
      <th>Ap8 name</th>
      <th>Ap8 min</th>
      <th>Ap8 pts</th>
      <th>Ap8 fgma</th>
      <th>Ap8 3pma</th>
      <th>Ap8 ftma</th>
      <th>Ap8 oreb</th>
      <th>Ap8 dreb</th>
      <th>Ap8 reb</th>
      <th>Ap8 ast</th>
      <th>Ap8 stl</th>
      <th>Ap8 blk</th>
      <th>Ap8 to</th>
      <th>Ap8 pf</th>
      <th>Ap8 starter</th>
      <th>Ap9 name</th>
      <th>Ap9 min</th>
      <th>Ap9 pts</th>
      <th>Ap9 fgma</th>
      <th>Ap9 3pma</th>
      <th>Ap9 ftma</th>
      <th>Ap9 oreb</th>
      <th>Ap9 dreb</th>
      <th>Ap9 reb</th>
      <th>Ap9 ast</th>
      <th>Ap9 stl</th>
      <th>Ap9 blk</th>
      <th>Ap9 to</th>
      <th>Ap9 pf</th>
      <th>Ap9 starter</th>
      <th>Ap10 name</th>
      <th>Ap10 min</th>
      <th>Ap10 pts</th>
      <th>Ap10 fgma</th>
      <th>Ap10 3pma</th>
      <th>Ap10 ftma</th>
      <th>Ap10 oreb</th>
      <th>Ap10 dreb</th>
      <th>Ap10 reb</th>
      <th>Ap10 ast</th>
      <th>Ap10 stl</th>
      <th>Ap10 blk</th>
      <th>Ap10 to</th>
      <th>Ap10 pf</th>
      <th>Ap10 starter</th>
      <th>Ap11 name</th>
      <th>Ap11 min</th>
      <th>Ap11 pts</th>
      <th>Ap11 fgma</th>
      <th>Ap11 3pma</th>
      <th>Ap11 ftma</th>
      <th>Ap11 oreb</th>
      <th>Ap11 dreb</th>
      <th>Ap11 reb</th>
      <th>Ap11 ast</th>
      <th>Ap11 stl</th>
      <th>Ap11 blk</th>
      <th>Ap11 to</th>
      <th>Ap11 pf</th>
      <th>Ap11 starter</th>
      <th>Ap12 name</th>
      <th>Ap12 min</th>
      <th>Ap12 pts</th>
      <th>Ap12 fgma</th>
      <th>Ap12 3pma</th>
      <th>Ap12 ftma</th>
      <th>Ap12 oreb</th>
      <th>Ap12 dreb</th>
      <th>Ap12 reb</th>
      <th>Ap12 ast</th>
      <th>Ap12 stl</th>
      <th>Ap12 blk</th>
      <th>Ap12 to</th>
      <th>Ap12 pf</th>
      <th>Ap12 starter</th>
      <th>Ap13 name</th>
      <th>Ap13 min</th>
      <th>Ap13 pts</th>
      <th>Ap13 fgma</th>
      <th>Ap13 3pma</th>
      <th>Ap13 ftma</th>
      <th>Ap13 oreb</th>
      <th>Ap13 dreb</th>
      <th>Ap13 reb</th>
      <th>Ap13 ast</th>
      <th>Ap13 stl</th>
      <th>Ap13 blk</th>
      <th>Ap13 to</th>
      <th>Ap13 pf</th>
      <th>Ap13 starter</th>
      <th>H nick</th>
      <th>A nick</th>
      <th>H initials</th>
      <th>A initials</th>
      <th>Aq1</th>
      <th>Aq2</th>
      <th>Aq3</th>
      <th>Aq4</th>
      <th>Aq5</th>
      <th>Aq6</th>
      <th>Aq7</th>
      <th>Aq8</th>
      <th>Aq9</th>
      <th>Aq10</th>
      <th>Hq1</th>
      <th>Hq2</th>
      <th>Hq3</th>
      <th>Hq4</th>
      <th>Hq5</th>
      <th>Hq6</th>
      <th>Hq7</th>
      <th>Hq8</th>
      <th>Hq9</th>
      <th>Hq10</th>
      <th>Afgp</th>
      <th>Aftp</th>
      <th>A3ptp</th>
      <th>Arebt</th>
      <th>Aastt</th>
      <th>Astlt</th>
      <th>Ablkt</th>
      <th>Hfgp</th>
      <th>Hftp</th>
      <th>H3ptp</th>
      <th>Hrebt</th>
      <th>Hastt</th>
      <th>Hstlt</th>
      <th>Hblkt</th>
      <th>Awaytfgma</th>
      <th>Awaytftma</th>
      <th>Awayt3fgma</th>
      <th>Hometfgma</th>
      <th>Hometftma</th>
      <th>Homet3fgma</th>
      <th>Hometoreb</th>
      <th>Hometdreb</th>
      <th>Awaytoreb</th>
      <th>Awaytdreb</th>
      <th>Hometto</th>
      <th>Hometpf</th>
      <th>Awaytto</th>
      <th>Awaytpf</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_recaps.each do |game_recap| %>
      <tr>
        <td><%= game_recap.game_string %></td>
        <td><%= game_recap.datey %></td>
        <td><%= game_recap.dashy_date %></td>
        <td><%= game_recap.afname %></td>
        <td><%= game_recap.hfname %></td>
        <td><%= game_recap.atotal %></td>
        <td><%= game_recap.htotal %></td>
        <td><%= game_recap.arena %></td>
        <td><%= game_recap.capacity %></td>
        <td><%= game_recap.attendance %></td>
        <td><%= game_recap.ref1 %></td>
        <td><%= game_recap.ref2 %></td>
        <td><%= game_recap.ref3 %></td>
        <td><%= game_recap.hp1_name %></td>
        <td><%= game_recap.hp1_min %></td>
        <td><%= game_recap.hp1_pts %></td>
        <td><%= game_recap.hp1_fgma %></td>
        <td><%= game_recap.hp1_3pma %></td>
        <td><%= game_recap.hp1_ftma %></td>
        <td><%= game_recap.hp1_oreb %></td>
        <td><%= game_recap.hp1_dreb %></td>
        <td><%= game_recap.hp1_reb %></td>
        <td><%= game_recap.hp1_ast %></td>
        <td><%= game_recap.hp1_stl %></td>
        <td><%= game_recap.hp1_blk %></td>
        <td><%= game_recap.hp1_to %></td>
        <td><%= game_recap.hp1_pf %></td>
        <td><%= game_recap.hp1_starter %></td>
        <td><%= game_recap.hp2_name %></td>
        <td><%= game_recap.hp2_min %></td>
        <td><%= game_recap.hp2_pts %></td>
        <td><%= game_recap.hp2_fgma %></td>
        <td><%= game_recap.hp2_3pma %></td>
        <td><%= game_recap.hp2_ftma %></td>
        <td><%= game_recap.hp2_oreb %></td>
        <td><%= game_recap.hp2_dreb %></td>
        <td><%= game_recap.hp2_reb %></td>
        <td><%= game_recap.hp2_ast %></td>
        <td><%= game_recap.hp2_stl %></td>
        <td><%= game_recap.hp2_blk %></td>
        <td><%= game_recap.hp2_to %></td>
        <td><%= game_recap.hp2_pf %></td>
        <td><%= game_recap.hp2_starter %></td>
        <td><%= game_recap.hp3_name %></td>
        <td><%= game_recap.hp3_min %></td>
        <td><%= game_recap.hp3_pts %></td>
        <td><%= game_recap.hp3_fgma %></td>
        <td><%= game_recap.hp3_3pma %></td>
        <td><%= game_recap.hp3_ftma %></td>
        <td><%= game_recap.hp3_oreb %></td>
        <td><%= game_recap.hp3_dreb %></td>
        <td><%= game_recap.hp3_reb %></td>
        <td><%= game_recap.hp3_ast %></td>
        <td><%= game_recap.hp3_stl %></td>
        <td><%= game_recap.hp3_blk %></td>
        <td><%= game_recap.hp3_to %></td>
        <td><%= game_recap.hp3_pf %></td>
        <td><%= game_recap.hp3_starter %></td>
        <td><%= game_recap.hp4_name %></td>
        <td><%= game_recap.hp4_min %></td>
        <td><%= game_recap.hp4_pts %></td>
        <td><%= game_recap.hp4_fgma %></td>
        <td><%= game_recap.hp4_3pma %></td>
        <td><%= game_recap.hp4_ftma %></td>
        <td><%= game_recap.hp4_oreb %></td>
        <td><%= game_recap.hp4_dreb %></td>
        <td><%= game_recap.hp4_reb %></td>
        <td><%= game_recap.hp4_ast %></td>
        <td><%= game_recap.hp4_stl %></td>
        <td><%= game_recap.hp4_blk %></td>
        <td><%= game_recap.hp4_to %></td>
        <td><%= game_recap.hp4_pf %></td>
        <td><%= game_recap.hp4_starter %></td>
        <td><%= game_recap.hp5_name %></td>
        <td><%= game_recap.hp5_min %></td>
        <td><%= game_recap.hp5_pts %></td>
        <td><%= game_recap.hp5_fgma %></td>
        <td><%= game_recap.hp5_3pma %></td>
        <td><%= game_recap.hp5_ftma %></td>
        <td><%= game_recap.hp5_oreb %></td>
        <td><%= game_recap.hp5_dreb %></td>
        <td><%= game_recap.hp5_reb %></td>
        <td><%= game_recap.hp5_ast %></td>
        <td><%= game_recap.hp5_stl %></td>
        <td><%= game_recap.hp5_blk %></td>
        <td><%= game_recap.hp5_to %></td>
        <td><%= game_recap.hp5_pf %></td>
        <td><%= game_recap.hp5_starter %></td>
        <td><%= game_recap.hp6_name %></td>
        <td><%= game_recap.hp6_min %></td>
        <td><%= game_recap.hp6_pts %></td>
        <td><%= game_recap.hp6_fgma %></td>
        <td><%= game_recap.hp6_3pma %></td>
        <td><%= game_recap.hp6_ftma %></td>
        <td><%= game_recap.hp6_oreb %></td>
        <td><%= game_recap.hp6_dreb %></td>
        <td><%= game_recap.hp6_reb %></td>
        <td><%= game_recap.hp6_ast %></td>
        <td><%= game_recap.hp6_stl %></td>
        <td><%= game_recap.hp6_blk %></td>
        <td><%= game_recap.hp6_to %></td>
        <td><%= game_recap.hp6_pf %></td>
        <td><%= game_recap.hp6_starter %></td>
        <td><%= game_recap.hp7_name %></td>
        <td><%= game_recap.hp7_min %></td>
        <td><%= game_recap.hp7_pts %></td>
        <td><%= game_recap.hp7_fgma %></td>
        <td><%= game_recap.hp7_3pma %></td>
        <td><%= game_recap.hp7_ftma %></td>
        <td><%= game_recap.hp7_oreb %></td>
        <td><%= game_recap.hp7_dreb %></td>
        <td><%= game_recap.hp7_reb %></td>
        <td><%= game_recap.hp7_ast %></td>
        <td><%= game_recap.hp7_stl %></td>
        <td><%= game_recap.hp7_blk %></td>
        <td><%= game_recap.hp7_to %></td>
        <td><%= game_recap.hp7_pf %></td>
        <td><%= game_recap.hp7_starter %></td>
        <td><%= game_recap.hp8_name %></td>
        <td><%= game_recap.hp8_min %></td>
        <td><%= game_recap.hp8_pts %></td>
        <td><%= game_recap.hp8_fgma %></td>
        <td><%= game_recap.hp8_3pma %></td>
        <td><%= game_recap.hp8_ftma %></td>
        <td><%= game_recap.hp8_oreb %></td>
        <td><%= game_recap.hp8_dreb %></td>
        <td><%= game_recap.hp8_reb %></td>
        <td><%= game_recap.hp8_ast %></td>
        <td><%= game_recap.hp8_stl %></td>
        <td><%= game_recap.hp8_blk %></td>
        <td><%= game_recap.hp8_to %></td>
        <td><%= game_recap.hp8_pf %></td>
        <td><%= game_recap.hp8_starter %></td>
        <td><%= game_recap.hp9_name %></td>
        <td><%= game_recap.hp9_min %></td>
        <td><%= game_recap.hp9_pts %></td>
        <td><%= game_recap.hp9_fgma %></td>
        <td><%= game_recap.hp9_3pma %></td>
        <td><%= game_recap.hp9_ftma %></td>
        <td><%= game_recap.hp9_oreb %></td>
        <td><%= game_recap.hp9_dreb %></td>
        <td><%= game_recap.hp9_reb %></td>
        <td><%= game_recap.hp9_ast %></td>
        <td><%= game_recap.hp9_stl %></td>
        <td><%= game_recap.hp9_blk %></td>
        <td><%= game_recap.hp9_to %></td>
        <td><%= game_recap.hp9_pf %></td>
        <td><%= game_recap.hp9_starter %></td>
        <td><%= game_recap.hp10_name %></td>
        <td><%= game_recap.hp10_min %></td>
        <td><%= game_recap.hp10_pts %></td>
        <td><%= game_recap.hp10_fgma %></td>
        <td><%= game_recap.hp10_3pma %></td>
        <td><%= game_recap.hp10_ftma %></td>
        <td><%= game_recap.hp10_oreb %></td>
        <td><%= game_recap.hp10_dreb %></td>
        <td><%= game_recap.hp10_reb %></td>
        <td><%= game_recap.hp10_ast %></td>
        <td><%= game_recap.hp10_stl %></td>
        <td><%= game_recap.hp10_blk %></td>
        <td><%= game_recap.hp10_to %></td>
        <td><%= game_recap.hp10_pf %></td>
        <td><%= game_recap.hp10_starter %></td>
        <td><%= game_recap.hp11_name %></td>
        <td><%= game_recap.hp11_min %></td>
        <td><%= game_recap.hp11_pts %></td>
        <td><%= game_recap.hp11_fgma %></td>
        <td><%= game_recap.hp11_3pma %></td>
        <td><%= game_recap.hp11_ftma %></td>
        <td><%= game_recap.hp11_oreb %></td>
        <td><%= game_recap.hp11_dreb %></td>
        <td><%= game_recap.hp11_reb %></td>
        <td><%= game_recap.hp11_ast %></td>
        <td><%= game_recap.hp11_stl %></td>
        <td><%= game_recap.hp11_blk %></td>
        <td><%= game_recap.hp11_to %></td>
        <td><%= game_recap.hp11_pf %></td>
        <td><%= game_recap.hp11_starter %></td>
        <td><%= game_recap.hp12_name %></td>
        <td><%= game_recap.hp12_min %></td>
        <td><%= game_recap.hp12_pts %></td>
        <td><%= game_recap.hp12_fgma %></td>
        <td><%= game_recap.hp12_3pma %></td>
        <td><%= game_recap.hp12_ftma %></td>
        <td><%= game_recap.hp12_oreb %></td>
        <td><%= game_recap.hp12_dreb %></td>
        <td><%= game_recap.hp12_reb %></td>
        <td><%= game_recap.hp12_ast %></td>
        <td><%= game_recap.hp12_stl %></td>
        <td><%= game_recap.hp12_blk %></td>
        <td><%= game_recap.hp12_to %></td>
        <td><%= game_recap.hp12_pf %></td>
        <td><%= game_recap.hp12_starter %></td>
        <td><%= game_recap.hp13_name %></td>
        <td><%= game_recap.hp13_min %></td>
        <td><%= game_recap.hp13_pts %></td>
        <td><%= game_recap.hp13_fgma %></td>
        <td><%= game_recap.hp13_3pma %></td>
        <td><%= game_recap.hp13_ftma %></td>
        <td><%= game_recap.hp13_oreb %></td>
        <td><%= game_recap.hp13_dreb %></td>
        <td><%= game_recap.hp13_reb %></td>
        <td><%= game_recap.hp13_ast %></td>
        <td><%= game_recap.hp13_stl %></td>
        <td><%= game_recap.hp13_blk %></td>
        <td><%= game_recap.hp13_to %></td>
        <td><%= game_recap.hp13_pf %></td>
        <td><%= game_recap.hp13_starter %></td>
        <td><%= game_recap.ap1_name %></td>
        <td><%= game_recap.ap1_min %></td>
        <td><%= game_recap.ap1_pts %></td>
        <td><%= game_recap.ap1_fgma %></td>
        <td><%= game_recap.ap1_3pma %></td>
        <td><%= game_recap.ap1_ftma %></td>
        <td><%= game_recap.ap1_oreb %></td>
        <td><%= game_recap.ap1_dreb %></td>
        <td><%= game_recap.ap1_reb %></td>
        <td><%= game_recap.ap1_ast %></td>
        <td><%= game_recap.ap1_stl %></td>
        <td><%= game_recap.ap1_blk %></td>
        <td><%= game_recap.ap1_to %></td>
        <td><%= game_recap.ap1_pf %></td>
        <td><%= game_recap.ap1_starter %></td>
        <td><%= game_recap.ap2_name %></td>
        <td><%= game_recap.ap2_min %></td>
        <td><%= game_recap.ap2_pts %></td>
        <td><%= game_recap.ap2_fgma %></td>
        <td><%= game_recap.ap2_3pma %></td>
        <td><%= game_recap.ap2_ftma %></td>
        <td><%= game_recap.ap2_oreb %></td>
        <td><%= game_recap.ap2_dreb %></td>
        <td><%= game_recap.ap2_reb %></td>
        <td><%= game_recap.ap2_ast %></td>
        <td><%= game_recap.ap2_stl %></td>
        <td><%= game_recap.ap2_blk %></td>
        <td><%= game_recap.ap2_to %></td>
        <td><%= game_recap.ap2_pf %></td>
        <td><%= game_recap.ap2_starter %></td>
        <td><%= game_recap.ap3_name %></td>
        <td><%= game_recap.ap3_min %></td>
        <td><%= game_recap.ap3_pts %></td>
        <td><%= game_recap.ap3_fgma %></td>
        <td><%= game_recap.ap3_3pma %></td>
        <td><%= game_recap.ap3_ftma %></td>
        <td><%= game_recap.ap3_oreb %></td>
        <td><%= game_recap.ap3_dreb %></td>
        <td><%= game_recap.ap3_reb %></td>
        <td><%= game_recap.ap3_ast %></td>
        <td><%= game_recap.ap3_stl %></td>
        <td><%= game_recap.ap3_blk %></td>
        <td><%= game_recap.ap3_to %></td>
        <td><%= game_recap.ap3_pf %></td>
        <td><%= game_recap.ap3_starter %></td>
        <td><%= game_recap.ap4_name %></td>
        <td><%= game_recap.ap4_min %></td>
        <td><%= game_recap.ap4_pts %></td>
        <td><%= game_recap.ap4_fgma %></td>
        <td><%= game_recap.ap4_3pma %></td>
        <td><%= game_recap.ap4_ftma %></td>
        <td><%= game_recap.ap4_oreb %></td>
        <td><%= game_recap.ap4_dreb %></td>
        <td><%= game_recap.ap4_reb %></td>
        <td><%= game_recap.ap4_ast %></td>
        <td><%= game_recap.ap4_stl %></td>
        <td><%= game_recap.ap4_blk %></td>
        <td><%= game_recap.ap4_to %></td>
        <td><%= game_recap.ap4_pf %></td>
        <td><%= game_recap.ap4_starter %></td>
        <td><%= game_recap.ap5_name %></td>
        <td><%= game_recap.ap5_min %></td>
        <td><%= game_recap.ap5_pts %></td>
        <td><%= game_recap.ap5_fgma %></td>
        <td><%= game_recap.ap5_3pma %></td>
        <td><%= game_recap.ap5_ftma %></td>
        <td><%= game_recap.ap5_oreb %></td>
        <td><%= game_recap.ap5_dreb %></td>
        <td><%= game_recap.ap5_reb %></td>
        <td><%= game_recap.ap5_ast %></td>
        <td><%= game_recap.ap5_stl %></td>
        <td><%= game_recap.ap5_blk %></td>
        <td><%= game_recap.ap5_to %></td>
        <td><%= game_recap.ap5_pf %></td>
        <td><%= game_recap.ap5_starter %></td>
        <td><%= game_recap.ap6_name %></td>
        <td><%= game_recap.ap6_min %></td>
        <td><%= game_recap.ap6_pts %></td>
        <td><%= game_recap.ap6_fgma %></td>
        <td><%= game_recap.ap6_3pma %></td>
        <td><%= game_recap.ap6_ftma %></td>
        <td><%= game_recap.ap6_oreb %></td>
        <td><%= game_recap.ap6_dreb %></td>
        <td><%= game_recap.ap6_reb %></td>
        <td><%= game_recap.ap6_ast %></td>
        <td><%= game_recap.ap6_stl %></td>
        <td><%= game_recap.ap6_blk %></td>
        <td><%= game_recap.ap6_to %></td>
        <td><%= game_recap.ap6_pf %></td>
        <td><%= game_recap.ap6_starter %></td>
        <td><%= game_recap.ap7_name %></td>
        <td><%= game_recap.ap7_min %></td>
        <td><%= game_recap.ap7_pts %></td>
        <td><%= game_recap.ap7_fgma %></td>
        <td><%= game_recap.ap7_3pma %></td>
        <td><%= game_recap.ap7_ftma %></td>
        <td><%= game_recap.ap7_oreb %></td>
        <td><%= game_recap.ap7_dreb %></td>
        <td><%= game_recap.ap7_reb %></td>
        <td><%= game_recap.ap7_ast %></td>
        <td><%= game_recap.ap7_stl %></td>
        <td><%= game_recap.ap7_blk %></td>
        <td><%= game_recap.ap7_to %></td>
        <td><%= game_recap.ap7_pf %></td>
        <td><%= game_recap.ap7_starter %></td>
        <td><%= game_recap.ap8_name %></td>
        <td><%= game_recap.ap8_min %></td>
        <td><%= game_recap.ap8_pts %></td>
        <td><%= game_recap.ap8_fgma %></td>
        <td><%= game_recap.ap8_3pma %></td>
        <td><%= game_recap.ap8_ftma %></td>
        <td><%= game_recap.ap8_oreb %></td>
        <td><%= game_recap.ap8_dreb %></td>
        <td><%= game_recap.ap8_reb %></td>
        <td><%= game_recap.ap8_ast %></td>
        <td><%= game_recap.ap8_stl %></td>
        <td><%= game_recap.ap8_blk %></td>
        <td><%= game_recap.ap8_to %></td>
        <td><%= game_recap.ap8_pf %></td>
        <td><%= game_recap.ap8_starter %></td>
        <td><%= game_recap.ap9_name %></td>
        <td><%= game_recap.ap9_min %></td>
        <td><%= game_recap.ap9_pts %></td>
        <td><%= game_recap.ap9_fgma %></td>
        <td><%= game_recap.ap9_3pma %></td>
        <td><%= game_recap.ap9_ftma %></td>
        <td><%= game_recap.ap9_oreb %></td>
        <td><%= game_recap.ap9_dreb %></td>
        <td><%= game_recap.ap9_reb %></td>
        <td><%= game_recap.ap9_ast %></td>
        <td><%= game_recap.ap9_stl %></td>
        <td><%= game_recap.ap9_blk %></td>
        <td><%= game_recap.ap9_to %></td>
        <td><%= game_recap.ap9_pf %></td>
        <td><%= game_recap.ap9_starter %></td>
        <td><%= game_recap.ap10_name %></td>
        <td><%= game_recap.ap10_min %></td>
        <td><%= game_recap.ap10_pts %></td>
        <td><%= game_recap.ap10_fgma %></td>
        <td><%= game_recap.ap10_3pma %></td>
        <td><%= game_recap.ap10_ftma %></td>
        <td><%= game_recap.ap10_oreb %></td>
        <td><%= game_recap.ap10_dreb %></td>
        <td><%= game_recap.ap10_reb %></td>
        <td><%= game_recap.ap10_ast %></td>
        <td><%= game_recap.ap10_stl %></td>
        <td><%= game_recap.ap10_blk %></td>
        <td><%= game_recap.ap10_to %></td>
        <td><%= game_recap.ap10_pf %></td>
        <td><%= game_recap.ap10_starter %></td>
        <td><%= game_recap.ap11_name %></td>
        <td><%= game_recap.ap11_min %></td>
        <td><%= game_recap.ap11_pts %></td>
        <td><%= game_recap.ap11_fgma %></td>
        <td><%= game_recap.ap11_3pma %></td>
        <td><%= game_recap.ap11_ftma %></td>
        <td><%= game_recap.ap11_oreb %></td>
        <td><%= game_recap.ap11_dreb %></td>
        <td><%= game_recap.ap11_reb %></td>
        <td><%= game_recap.ap11_ast %></td>
        <td><%= game_recap.ap11_stl %></td>
        <td><%= game_recap.ap11_blk %></td>
        <td><%= game_recap.ap11_to %></td>
        <td><%= game_recap.ap11_pf %></td>
        <td><%= game_recap.ap11_starter %></td>
        <td><%= game_recap.ap12_name %></td>
        <td><%= game_recap.ap12_min %></td>
        <td><%= game_recap.ap12_pts %></td>
        <td><%= game_recap.ap12_fgma %></td>
        <td><%= game_recap.ap12_3pma %></td>
        <td><%= game_recap.ap12_ftma %></td>
        <td><%= game_recap.ap12_oreb %></td>
        <td><%= game_recap.ap12_dreb %></td>
        <td><%= game_recap.ap12_reb %></td>
        <td><%= game_recap.ap12_ast %></td>
        <td><%= game_recap.ap12_stl %></td>
        <td><%= game_recap.ap12_blk %></td>
        <td><%= game_recap.ap12_to %></td>
        <td><%= game_recap.ap12_pf %></td>
        <td><%= game_recap.ap12_starter %></td>
        <td><%= game_recap.ap13_name %></td>
        <td><%= game_recap.ap13_min %></td>
        <td><%= game_recap.ap13_pts %></td>
        <td><%= game_recap.ap13_fgma %></td>
        <td><%= game_recap.ap13_3pma %></td>
        <td><%= game_recap.ap13_ftma %></td>
        <td><%= game_recap.ap13_oreb %></td>
        <td><%= game_recap.ap13_dreb %></td>
        <td><%= game_recap.ap13_reb %></td>
        <td><%= game_recap.ap13_ast %></td>
        <td><%= game_recap.ap13_stl %></td>
        <td><%= game_recap.ap13_blk %></td>
        <td><%= game_recap.ap13_to %></td>
        <td><%= game_recap.ap13_pf %></td>
        <td><%= game_recap.ap13_starter %></td>
        <td><%= game_recap.h_nick %></td>
        <td><%= game_recap.a_nick %></td>
        <td><%= game_recap.h_initials %></td>
        <td><%= game_recap.a_initials %></td>
        <td><%= game_recap.aq1 %></td>
        <td><%= game_recap.aq2 %></td>
        <td><%= game_recap.aq3 %></td>
        <td><%= game_recap.aq4 %></td>
        <td><%= game_recap.aq5 %></td>
        <td><%= game_recap.aq6 %></td>
        <td><%= game_recap.aq7 %></td>
        <td><%= game_recap.aq8 %></td>
        <td><%= game_recap.aq9 %></td>
        <td><%= game_recap.aq10 %></td>
        <td><%= game_recap.hq1 %></td>
        <td><%= game_recap.hq2 %></td>
        <td><%= game_recap.hq3 %></td>
        <td><%= game_recap.hq4 %></td>
        <td><%= game_recap.hq5 %></td>
        <td><%= game_recap.hq6 %></td>
        <td><%= game_recap.hq7 %></td>
        <td><%= game_recap.hq8 %></td>
        <td><%= game_recap.hq9 %></td>
        <td><%= game_recap.hq10 %></td>
        <td><%= game_recap.afgp %></td>
        <td><%= game_recap.aftp %></td>
        <td><%= game_recap.a3ptp %></td>
        <td><%= game_recap.arebt %></td>
        <td><%= game_recap.aastt %></td>
        <td><%= game_recap.astlt %></td>
        <td><%= game_recap.ablkt %></td>
        <td><%= game_recap.hfgp %></td>
        <td><%= game_recap.hftp %></td>
        <td><%= game_recap.h3ptp %></td>
        <td><%= game_recap.hrebt %></td>
        <td><%= game_recap.hastt %></td>
        <td><%= game_recap.hstlt %></td>
        <td><%= game_recap.hblkt %></td>
        <td><%= game_recap.awaytfgma %></td>
        <td><%= game_recap.awaytftma %></td>
        <td><%= game_recap.awayt3fgma %></td>
        <td><%= game_recap.hometfgma %></td>
        <td><%= game_recap.hometftma %></td>
        <td><%= game_recap.homet3fgma %></td>
        <td><%= game_recap.hometoreb %></td>
        <td><%= game_recap.hometdreb %></td>
        <td><%= game_recap.awaytoreb %></td>
        <td><%= game_recap.awaytdreb %></td>
        <td><%= game_recap.hometto %></td>
        <td><%= game_recap.hometpf %></td>
        <td><%= game_recap.awaytto %></td>
        <td><%= game_recap.awaytpf %></td>
        <td><%= link_to 'Show', game_recap %></td>
        <td><%= link_to 'Edit', edit_game_recap_path(game_recap) %></td>
        <td><%= link_to 'Destroy', game_recap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game recap', new_game_recap_path %>
