<% require 'active_support'%>
<% attendance_percentage=((@game_recap.attendance.to_f/@game_recap.capacity.strip.to_f)*100).round(2) %>
<% game_box_recap="" %>
<% if @game_recap.h_initials=='POR' %>
    <% home_or_away = @game_recap.afname.downcase+'<span class="box_total_h2"> '+@game_recap.atotal+"</span><br/>at<br/> portland trail blazers <span class='box_total_h2'>"+@game_recap.htotal+"</span>" %>
    <% if @game_recap.htotal.to_i > @game_recap.atotal.to_i %>
        <% win_or_loss ="<span class='win_loss_box_show_win'>W</span>" %>
    <%else %>
        <% win_or_loss =""%>
    <%end%>
    <% if @game_recap.htotal.to_i < @game_recap.atotal.to_i %>
        <% win_or_loss ="<span class='win_loss_box_show_loss'>L</span>" %>
    <%else %>
    <% end %>
    <% game_box_recap="The Trail Blazers made "+ @game_recap.hometfgma + " shots they attempted resulting in a total team field goal percentage of "+ @game_recap.hfgp+"% for the game.  Meanwhile, the "+ @game_recap.a_nick+"  made "+ @game_recap.awaytfgma+" shots that they attempted resulting in a total team field goal percentage of "+ @game_recap.afgp+ "% for the game.  The Trail Blazers hit "+@game_recap.hometftma+ " free throws shooting " + @game_recap.hftp + "% from the free throw line and the " + @game_recap.a_nick+ " hit "+@game_recap.awaytftma+" free throws shooting "+ @game_recap.aftp+"% from the free throw line.  The Trail Blazers made "+@game_recap.homet3fgma+" of the 3-pointers they shot resulting in a total team 3 point field goal percentage of "+@game_recap.h3ptp+"% and the "+@game_recap.a_nick+" made "+@game_recap.awayt3fgma+ " of the 3-pointers they shot resulting in a total team 3 pint field goal percentage of "+@game_recap.a3ptp+"%.  The Blazers collected "+ @game_recap.hometoreb + " offensive rebounds, "+ @game_recap.hometdreb + " defensive rebounds for a total of "+ @game_recap.hrebt+" rebounds and the "+@game_recap.a_nick+ " scooped up "+@game_recap.awaytoreb+" offensive rebounds, "+@game_recap.awaytdreb+" defensive rebounds for a total of "+@game_recap.arebt+" rebounds.  The Blazers dished out "+@game_recap.hastt+" assists while the "+ @game_recap.a_nick + " dished out "+@game_recap.aastt+".  The Blazers collected "+@game_recap.hstlt+" steals and the "+@game_recap.a_nick+" collected "+@game_recap.astlt+ " steals.  The Blazers blocked "+@game_recap.hblkt+" of the "+@game_recap.a_nick+" shots.  the "+@game_recap.a_nick+" blocked "+@game_recap.ablkt+" of the Blazers shots.  The Blazers turned the ball over "+@game_recap.hometto+" times.  The"+@game_recap.a_nick+" turned the ball over "+@game_recap.awaytto+" times."+"  <br/><br/>  The game was officiated by "+@game_recap.ref1+", "+@game_recap.ref2+" and "+@game_recap.ref3+"<br/><br/> There were "+@game_recap.attendance+ " out of a possible "+@game_recap.capacity+" fans in attendace.  This means that "+@game_recap.arena+" was " + attendance_percentage.to_s + "% filled to capacity."%>
<% end %>
<% if @game_recap.a_initials=='POR' %>
    <% home_or_away ="portland trail blazers <span class='box_total_h2'>"+@game_recap.atotal+"</span> <br/>at</br> "+@game_recap.hfname.downcase+ " <span class='box_total_h2'>"+@game_recap.htotal+"</span>" %>
    <% if @game_recap.atotal.to_i > @game_recap.htotal.to_i %>
        <% win_or_loss ="<span class='win_loss_box_show_win'>W</span>" %>
    <%end%>
    <% if @game_recap.atotal.to_i < @game_recap.htotal.to_i %>
        <% win_or_loss ="<span class='win_loss_box_show_loss'>L</span>" %>
    <% end %>
    <% game_box_recap="The Trail Blazers made "+ @game_recap.awaytfgma + " shots they attempted resulting in a total team field goal percentage of "+ @game_recap.afgp+"% for the game.  Meanwhile, the "+ @game_recap.h_nick+"  made "+ @game_recap.hometfgma+" shots that they attempted resulting in a total team field goal percentage of "+ @game_recap.hfgp+ "% for the game.  The Trail Blazers hit "+@game_recap.awaytftma+ " free throws shooting " + @game_recap.aftp + "% from the free throw line and the " + @game_recap.h_nick+ " hit "+@game_recap.hometftma+" free throws shooting "+ @game_recap.hftp+"% from the free throw line.  The Trail Blazers made "+@game_recap.awayt3fgma+" of the 3-pointers they shot resulting in a total team 3 point field goal percentage of "+@game_recap.a3ptp+"% and the "+@game_recap.h_nick+" made "+@game_recap.homet3fgma+ " of the 3-pointers they shot resulting in a total team 3 point field goal percentage of "+@game_recap.h3ptp+"%.  The Blazers collected "+ @game_recap.awaytoreb + " offensive rebounds and "+ @game_recap.awaytdreb + " defensive rebounds for a total of "+ @game_recap.arebt+" rebounds and the "+@game_recap.h_nick+ " scooped up "+@game_recap.hometoreb+" offensive rebounds and "+@game_recap.hometdreb+" defensive rebounds for a total of "+@game_recap.hrebt+" rebounds.  The Blazers dished out "+@game_recap.aastt+" assists while the "+ @game_recap.h_nick + " dished out "+@game_recap.hastt+".  The Blazers collected "+@game_recap.astlt+" steals and the "+@game_recap.h_nick+" collected "+@game_recap.hstlt+ " steals.  The Blazers blocked "+@game_recap.ablkt+" of the "+@game_recap.h_nick+" shots.  The "+@game_recap.h_nick+" blocked "+@game_recap.hblkt+" of the Blazers shots.  The Blazers turned the ball over "+@game_recap.awaytto+" times.  The "+@game_recap.h_nick+ " turned the ball over "+@game_recap.hometto+" times.<br/><br/>  The game was officiated by "+@game_recap.ref1+", "+@game_recap.ref2+" and "+@game_recap.ref3+"<br/><br/> There were "+@game_recap.attendance+ " out of a possible "+@game_recap.capacity+" fans in attendace.  This means that "+@game_recap.arena+" was " + attendance_percentage.to_s + "% filled to capacity."%>
<% end %>

<% astart_class1='' %>
<% astart_class2='' %>
<% astart_class3='' %>
<% astart_class4='' %>
<% astart_class5='' %>
<% astart_class6='' %>
<% astart_class7='' %>
<% astart_class8='' %>
<% astart_class9='' %>
<% astart_class10='' %>
<% astart_class11='' %>
<% astart_class12='' %>
<% astart_class13='' %>


<% hstart_class1='' %>
<% hstart_class2='' %>
<% hstart_class3='' %>
<% hstart_class4='' %>
<% hstart_class5='' %>
<% hstart_class6='' %>
<% hstart_class7='' %>
<% hstart_class8='' %>
<% hstart_class9='' %>
<% hstart_class10='' %>
<% hstart_class11='' %>
<% hstart_class12='' %>
<% hstart_class13='' %>


<% if @game_recap.ap1_starter =='1'%>

    <!--<%= astart_class1 %>='starter';-->
    <% astart_class1='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap2_starter =='1'%>

    <% astart_class2='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap3_starter =='1'%>

    <% astart_class3='starter' %>
<%else %>
<% end %>
<% if @game_recap.ap4_starter =='1'%>

    <% astart_class4='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap5_starter =='1'%>

    <% astart_class5='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap6_starter =='1'%>

    <% astart_class6='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap7_starter =='1'%>
    <% astart_class7='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap8_starter =='1'%>

    <% astart_class8='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap9_starter =='1'%>

    <% astart_class9='starter' %>
<%else %>

<% end %>

<% if @game_recap.ap10_starter =='1'%>
    <% astart_class10='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap11_starter =='1'%>

    <% astart_class11='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap12_starter =='1'%>
    <% astart_class12='starter' %>
<%else %>
<% end %>

<% if @game_recap.ap13_starter =='1'%>

    <% astart_class13='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp1_starter =='1'%>

    <!--<%= hstart_class1 %>='starter';-->
    <% hstart_class1='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp2_starter =='1'%>

    <% hstart_class2='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp3_starter =='1'%>

    <% hstart_class3='starter' %>
<%else %>
<% end %>
<% if @game_recap.hp4_starter =='1'%>

    <% hstart_class4='starter' %>
<%else %>


<% end %>

<% if @game_recap.hp5_starter =='1'%>
    <% hstart_class5='starter' %>

<%else %>
<% end %>

<% if @game_recap.hp6_starter =='1'%>

    <% hstart_class6='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp7_starter =='1'%>
    <% hstart_class7='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp8_starter =='1'%>

    <% hstart_class8='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp9_starter =='1'%>

    <% hstart_class9='starter' %>
<%else %>

<% end %>

<% if @game_recap.hp10_starter =='1'%>
    <% hstart_class10='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp11_starter =='1'%>

    <% hstart_class11='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp12_starter =='1'%>
    <% hstart_class12='starter' %>
<%else %>
<% end %>

<% if @game_recap.hp13_starter =='1'%>

    <% hstart_class13='starter' %>
<%else %>
<% end %>



<% date_time =Time.parse(@game_recap.datey) %>
<p id="notice"><%= notice %></p>

<% away_total_to=@game_recap.ap1_to.to_i+@game_recap.ap2_to.to_i+@game_recap.ap3_to.to_i+@game_recap.ap4_to.to_i+@game_recap.ap5_to.to_i+@game_recap.ap6_to.to_i+@game_recap.ap7_to.to_i+@game_recap.ap8_to.to_i+@game_recap.ap9_to.to_i+@game_recap.ap10_to.to_i+@game_recap.ap11_to.to_i+@game_recap.ap12_to.to_i+@game_recap.ap13_to.to_i %>

<% home_total_to=@game_recap.hp1_to.to_i+@game_recap.hp2_to.to_i+@game_recap.hp3_to.to_i+@game_recap.hp4_to.to_i+@game_recap.hp5_to.to_i+@game_recap.hp6_to.to_i+@game_recap.hp7_to.to_i+@game_recap.hp8_to.to_i+@game_recap.hp9_to.to_i+@game_recap.hp10_to.to_i+@game_recap.hp11_to.to_i+@game_recap.hp12_to.to_i+@game_recap.hp13_to.to_i %>


<div class='box_score'><h2 class='story_h2'><span class='article_title'><%=home_or_away.html_safe %>  </span><br/><span class='box_arena_h2'><%=@game_recap.arena %> | </span><span class='box_start_date_h2'><%= date_time.strftime("%A %B #{date_time.day.ordinalize} %Y %l:%M%P")%></span><br/><%=win_or_loss.html_safe%></h2>

  <table id='last_game_period_box'>
    <% away_nick_dash=@game_recap.afname.parameterize+'.png' %>
    <% home_nick_dash=@game_recap.hfname.parameterize+'.png' %>

    <tr><th>&nbsp;</th><th>&nbsp;</th><th>1</th><th>2</th><th>3</th><th>4</th><th>OT1</th><th>T</th></tr>
    <tr><td class='logo_box' ><%= image_tag(away_nick_dash, style: "float:left;border-top:1px inset #777777;padding-top:10px;", class:"uk-img-preserve")%></td><td><%=@game_recap.a_initials %> </td><td> <%=@game_recap.aq1 %> <td><%=@game_recap.aq2 %></td><td><%=@game_recap.aq3 %></td><td><%=@game_recap.aq4 %></td><td><%=@game_recap.aq5 %></td><td class='quarters_total'><%=@game_recap.atotal%></td></tr>
    <tr><td class='logo_box'><%= image_tag(home_nick_dash, style: "float:left;border-top:1px inset #777777;padding-top:10px;", class:"uk-img-preserve")%></td><td><%=@game_recap.h_initials%></td> <td><%=@game_recap.hq1 %></td> <td><%=@game_recap.hq2 %></td> <td><%=@game_recap.hq3 %></td> <td><%=@game_recap.hq4 %></td><td><%=@game_recap.hq5 %></td> <td class='quarters_total'><%=@game_recap.htotal%></td></tr>
  </table>

  <br/>
  <br/>
  <br/>

  <table id='boxscore_away'>
    <tr style='border: 1px inset #000;'><th style='border: 1px inset #000;' colspan='19'><%= @game_recap.afname.downcase %> <span class='digit_box_total'><%= @game_recap.atotal %></span></th></tr>
    <tr style='border: 1px inset #000;font-weight:800;'><td style='border: 1px inset #000;'>PLAYER</td><td style='border: 1px inset #000;'>MIN</td><td style='border: 1px inset #000;'>PTS</td><td style='border: 1px inset #000;'>FGM-A</td><td style='border: 1px inset #000;' class='hide_box_column'>3PM-A</td><td style='border: 1px inset #000;'>FTM-A</td><td style='border: 1px inset #000;' class='hide_box_column'>O-REB</td><td style='border: 1px inset #000;' class='hide_box_column'>D-REB</td><td style='border: 1px inset #000;'>REB</td><td style='border: 1px inset #000;'>AST</td><td style='border: 1px inset #000;' class='hide_box_column'>STL</td><td style='border: 1px inset #000;' class='hide_box_column'>BLK</td><td style='border: 1px inset #000;' class='hide_box_column'>TO</td><td style='border: 1px inset #000;'>PF</td><td style='border: 1px inset #000;' class='hide_this'>STARTER</td></tr>

    <tr style='border: 1px inset #000;'><td class='<%= astart_class1 %>'> <%=@game_recap.ap1_name%></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%=@game_recap.ap1_min%></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%=@game_recap.ap1_pts%></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.ap1_fgma %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_box_column'><%= @game_recap.ap1_3pma %></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.ap1_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_box_column'><%= @game_recap.ap1_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_box_column'><%= @game_recap.ap1_dreb %></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.ap1_reb %></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.ap1_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_box_column'><%= @game_recap.ap1_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_box_column'><%= @game_recap.ap1_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_box_column'><%= @game_recap.ap1_to %></td><td class='<%= astart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.ap1_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class1 %> hide_this'>$a_starter0</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= astart_class2 %>' ><%=@game_recap.ap2_name%></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%=@game_recap.ap2_min%></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%=@game_recap.ap2_pts%></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.ap2_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_box_column'><%= @game_recap.ap2_3pma %></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.ap2_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_box_column'><%= @game_recap.ap2_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_box_column'><%= @game_recap.ap2_dreb %></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.ap2_reb %></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.ap2_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_box_column'><%= @game_recap.ap2_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_box_column'><%= @game_recap.ap2_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_box_column'><%= @game_recap.ap2_to %></td><td class='<%= astart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.ap2_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class2 %> hide_this'>$a_starter1</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= astart_class3 %>'><%=@game_recap.ap3_name%></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%=@game_recap.ap3_min%></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%=@game_recap.ap3_pts%></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.ap3_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_box_column'><%= @game_recap.ap3_3pma %></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.ap3_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_box_column'><%= @game_recap.ap3_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_box_column'><%= @game_recap.ap3_dreb %></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.ap3_reb %></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.ap3_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_box_column'><%= @game_recap.ap3_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_box_column'><%= @game_recap.ap3_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_box_column'><%= @game_recap.ap3_to %></td><td class='<%= astart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.ap3_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class3 %> hide_this'>$a_starter2</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= astart_class4 %>'><%=@game_recap.ap4_name%></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%=@game_recap.ap4_min%></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%=@game_recap.ap4_pts%></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.ap4_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_box_column'><%= @game_recap.ap4_3pma %></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.ap4_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_box_column'><%= @game_recap.ap4_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_box_column'><%= @game_recap.ap4_dreb %></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.ap4_reb %></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.ap4_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_box_column'><%= @game_recap.ap4_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_box_column'><%= @game_recap.ap4_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_box_column'><%= @game_recap.ap4_to %></td><td class='<%= astart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.ap4_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class4 %> hide_this'>$a_starter3</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= astart_class5 %>'><%=@game_recap.ap5_name%></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%=@game_recap.ap5_min%></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%=@game_recap.ap5_pts%></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.ap5_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_box_column'><%= @game_recap.ap5_3pma %></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.ap5_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_box_column'><%= @game_recap.ap5_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_box_column'><%= @game_recap.ap5_dreb %></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.ap5_reb %></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.ap5_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_box_column'><%= @game_recap.ap5_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_box_column'><%= @game_recap.ap5_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_box_column'><%= @game_recap.ap5_to %></td><td class='<%= astart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.ap5_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class5 %> hide_this'>$a_starter4</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= astart_class6 %>'><%=@game_recap.ap6_name%></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%=@game_recap.ap6_min%></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%=@game_recap.ap6_pts%></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.ap6_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_box_column'><%= @game_recap.ap6_3pma %></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.ap6_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_box_column'><%= @game_recap.ap6_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_box_column'><%= @game_recap.ap6_dreb %></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.ap6_reb %></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.ap6_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_box_column'><%= @game_recap.ap6_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_box_column'><%= @game_recap.ap6_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_box_column'><%= @game_recap.ap6_to %></td><td class='<%= astart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.ap6_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class6 %> hide_this'>$a_starter5</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= astart_class7 %>'><%=@game_recap.ap7_name%></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%=@game_recap.ap7_min%></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%=@game_recap.ap7_pts%></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.ap7_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_box_column'><%= @game_recap.ap7_3pma %></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.ap7_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_box_column'><%= @game_recap.ap7_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_box_column'><%= @game_recap.ap7_dreb %></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.ap7_reb %></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.ap7_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_box_column'><%= @game_recap.ap7_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_box_column'><%= @game_recap.ap7_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_box_column'><%= @game_recap.ap7_to %></td><td class='<%= astart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.ap7_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class7 %> hide_this'>$a_starter6</td></tr>



    <% if @game_recap.ap8_name !=nil %>
        <tr style='border: 1px inset #000;'><td class='<%= astart_class8 %>'><%=@game_recap.ap8_name%></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%=@game_recap.ap8_min%></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%=@game_recap.ap8_pts%></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.ap8_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_box_column'><%= @game_recap.ap8_3pma %></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.ap8_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_box_column'><%= @game_recap.ap8_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_box_column'><%= @game_recap.ap8_dreb %></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.ap8_reb %></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.ap8_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_box_column'><%= @game_recap.ap8_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_box_column'><%= @game_recap.ap8_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_box_column'><%= @game_recap.ap8_to %></td><td class='<%= astart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.ap8_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class8 %> hide_this'>$a_starter7</td></tr>
    <%else%>

    <%end%>


    <% if @game_recap.ap9_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= astart_class9 %>'><%=@game_recap.ap9_name%></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%=@game_recap.ap9_min%></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%=@game_recap.ap9_pts%></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.ap9_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_box_column'><%= @game_recap.ap9_3pma %></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.ap9_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_box_column'><%= @game_recap.ap9_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_box_column'><%= @game_recap.ap9_dreb %></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.ap9_reb %></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.ap9_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_box_column'><%= @game_recap.ap9_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_box_column'><%= @game_recap.ap9_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_box_column'><%= @game_recap.ap9_to %></td><td class='<%= astart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.ap9_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class9 %> hide_this'>$a_starter8</td></tr>
    <%else%>

    <%end%>

    <% if @game_recap.ap10_name !=nil %>
        <tr style='border: 1px inset #000;'><td class='<%= astart_class10 %>'><%=@game_recap.ap10_name%></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%=@game_recap.ap10_min%></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%=@game_recap.ap10_pts%></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.ap10_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_box_column'><%= @game_recap.ap10_3pma %></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.ap10_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_box_column'><%= @game_recap.ap10_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_box_column'><%= @game_recap.ap10_dreb %></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.ap10_reb %></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.ap10_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_box_column'><%= @game_recap.ap10_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_box_column'><%= @game_recap.ap10_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_box_column'><%= @game_recap.ap10_to %></td><td class='<%= astart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.ap10_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class10 %> hide_this'>$a_starter9</td></tr>
    <%else%>

    <%end%>


    <% if @game_recap.ap11_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= astart_class11 %>'><%=@game_recap.ap11_name%></td><td class='<%= astart_class11 %>' style='border: 1px inset #000;'><%=@game_recap.ap11_min%></td><td style='border: 1px inset #000;'><%=@game_recap.ap11_pts%></td><td style='border: 1px inset #000;'><%= @game_recap.ap11_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_box_column'><%= @game_recap.ap11_3pma %></td><td class='<%= astart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.ap11_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_box_column'><%= @game_recap.ap11_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_box_column'><%= @game_recap.ap11_dreb %></td><td class='<%= astart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.ap11_reb %></td><td class='<%= astart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.ap11_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_box_column'><%= @game_recap.ap11_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_box_column'><%= @game_recap.ap11_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_box_column'><%= @game_recap.ap11_to %></td><td class='<%= astart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.ap11_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class11 %> hide_this'>$a_starter10</td></tr>
    <%else%>

    <%end%>

    <% if @game_recap.ap12_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= astart_class12 %>'><%=@game_recap.ap12_name%></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%=@game_recap.ap12_min%></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%=@game_recap.ap12_pts%></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.ap12_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_box_column'><%= @game_recap.ap12_3pma %></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.ap12_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_box_column'><%= @game_recap.ap12_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_box_column'><%= @game_recap.ap12_dreb %></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.ap12_reb %></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.ap12_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_box_column'><%= @game_recap.ap12_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_box_column'><%= @game_recap.ap12_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_box_column'><%= @game_recap.ap12_to %></td><td class='<%= astart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.ap12_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class12 %> hide_this'>$a_starter11</td></tr>
    <%else%>

    <%end%>

    <% if @game_recap.ap13_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= astart_class13 %>'><%=@game_recap.ap13_name%></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;'><%=@game_recap.ap13_min%></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;'><%=@game_recap.ap13_pts%></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.ap13_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_box_column'><%= @game_recap.ap13_3pma %></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.ap13_ftma %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_box_column'><%= @game_recap.ap13_oreb %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_box_column'><%= @game_recap.ap13_dreb %></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;' ><%= @game_recap.ap13_reb %></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.ap13_ast %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_box_column'><%= @game_recap.ap13_stl %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_box_column'><%= @game_recap.ap13_blk %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_box_column'><%= @game_recap.ap13_to %></td><td class='<%= astart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.ap13_pf %></td><td style='border: 1px inset #000;' class='<%= astart_class13 %> hide_this'>$a_starter12</td></tr>
    <%else%>

    <%end%>
    <tr style='border: 1px inset #000;font-weight:800;'>
      <td  style='border: 1px inset #000;' colspan='2'><%= @game_recap.a_nick %> <br/>Totals</td><td style='border: 1px inset #000;'><%= @game_recap.atotal %></td><td style='border: 1px inset #000;'><%= @game_recap.awaytfgma %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.awayt3fgma %></td><td style='border: 1px inset #000;'><%= @game_recap.awaytftma %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.awaytoreb %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.awaytdreb %></td><td style='border: 1px inset #000;'><%= @game_recap.arebt %></td><td style='border: 1px inset #000;'><%= @game_recap.aastt %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.astlt %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.ablkt %></td><td style='border: 1px inset #000;' class='hide_box_column'><%=away_total_to %></td><td colspan='2' style='border: 1px inset #000;'><%= @game_recap.awaytpf %></td></tr>

  </table>

  <br/>
  <br/>



  <table id="boxscore_key">
    <tbody><tr>
      <th>BOXSCORE KEY</th>
    </tr>
    <tr><td class="starter2">STARTER</td></tr>
    </tbody></table>


  <br/>
  <br/>

  <table id='boxscore_home'>
    <tr style='border: 1px inset #000;'><th style='border: 1px inset #000;' colspan='19'><%= @game_recap.hfname.downcase %> <span class='digit_box_total'><%= @game_recap.htotal %></span></th></tr>
    <tr style='border: 1px inset #000;font-weight:800;'><td style='border: 1px inset #000;'>PLAYER</td><td style='border: 1px inset #000;'>MIN</td><td style='border: 1px inset #000;'>PTS</td><td style='border: 1px inset #000;'>FGM-A</td><td style='border: 1px inset #000;' class='hide_box_column'>3PM-A</td><td style='border: 1px inset #000;'>FTM-A</td><td style='border: 1px inset #000;' class='hide_box_column'>O-REB</td><td style='border: 1px inset #000;' class='hide_box_column'>D-REB</td><td style='border: 1px inset #000;'>REB</td><td style='border: 1px inset #000;'>AST</td><td style='border: 1px inset #000;' class='hide_box_column'>STL</td><td style='border: 1px inset #000;' class='hide_box_column'>BLK</td><td style='border: 1px inset #000;' class='hide_box_column'>TO</td><td style='border: 1px inset #000;'>PF</td><td style='border: 1px inset #000;' class='hide_this'>STARTER</td></tr>

    <tr style='border: 1px inset #000;'><td class='<%= hstart_class1 %>'> <%=@game_recap.hp1_name%></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%=@game_recap.hp1_min%></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%=@game_recap.hp1_pts%></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.hp1_fgma %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_box_column'><%= @game_recap.hp1_3pma %></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.hp1_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_box_column'><%= @game_recap.hp1_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_box_column'><%= @game_recap.hp1_dreb %></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.hp1_reb %></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.hp1_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_box_column'><%= @game_recap.hp1_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_box_column'><%= @game_recap.hp1_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_box_column'><%= @game_recap.hp1_to %></td><td class='<%= hstart_class1 %>' style='border: 1px inset #000;'><%= @game_recap.hp1_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class1 %> hide_this'>$a_starter0</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= hstart_class2 %>' ><%=@game_recap.hp2_name%></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%=@game_recap.hp2_min%></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%=@game_recap.hp2_pts%></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.hp2_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_box_column'><%= @game_recap.hp2_3pma %></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.hp2_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_box_column'><%= @game_recap.hp2_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_box_column'><%= @game_recap.hp2_dreb %></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.hp2_reb %></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.hp2_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_box_column'><%= @game_recap.hp2_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_box_column'><%= @game_recap.hp2_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_box_column'><%= @game_recap.hp2_to %></td><td class='<%= hstart_class2 %>' style='border: 1px inset #000;'><%= @game_recap.hp2_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class2 %> hide_this'>$a_starter1</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= hstart_class3 %>'><%=@game_recap.hp3_name%></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%=@game_recap.hp3_min%></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%=@game_recap.hp3_pts%></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.hp3_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_box_column'><%= @game_recap.hp3_3pma %></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.hp3_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_box_column'><%= @game_recap.hp3_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_box_column'><%= @game_recap.hp3_dreb %></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.hp3_reb %></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.hp3_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_box_column'><%= @game_recap.hp3_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_box_column'><%= @game_recap.hp3_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_box_column'><%= @game_recap.hp3_to %></td><td class='<%= hstart_class3 %>' style='border: 1px inset #000;'><%= @game_recap.hp3_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class3 %> hide_this'>$a_starter2</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= hstart_class4 %>'><%=@game_recap.hp4_name%></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%=@game_recap.hp4_min%></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%=@game_recap.hp4_pts%></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.hp4_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_box_column'><%= @game_recap.hp4_3pma %></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.hp4_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_box_column'><%= @game_recap.hp4_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_box_column'><%= @game_recap.hp4_dreb %></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.hp4_reb %></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.hp4_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_box_column'><%= @game_recap.hp4_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_box_column'><%= @game_recap.hp4_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_box_column'><%= @game_recap.hp4_to %></td><td class='<%= hstart_class4 %>' style='border: 1px inset #000;'><%= @game_recap.hp4_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class4 %> hide_this'>$a_starter3</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= hstart_class5 %>'><%=@game_recap.hp5_name%></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%=@game_recap.hp5_min%></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%=@game_recap.hp5_pts%></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.hp5_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_box_column'><%= @game_recap.hp5_3pma %></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.hp5_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_box_column'><%= @game_recap.hp5_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_box_column'><%= @game_recap.hp5_dreb %></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.hp5_reb %></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.hp5_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_box_column'><%= @game_recap.hp5_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_box_column'><%= @game_recap.hp5_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_box_column'><%= @game_recap.hp5_to %></td><td class='<%= hstart_class5 %>' style='border: 1px inset #000;'><%= @game_recap.hp5_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class5 %> hide_this'>$a_starter4</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= hstart_class6 %>'><%=@game_recap.hp6_name%></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%=@game_recap.hp6_min%></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%=@game_recap.hp6_pts%></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.hp6_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_box_column'><%= @game_recap.hp6_3pma %></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.hp6_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_box_column'><%= @game_recap.hp6_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_box_column'><%= @game_recap.hp6_dreb %></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.hp6_reb %></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.hp6_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_box_column'><%= @game_recap.hp6_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_box_column'><%= @game_recap.hp6_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_box_column'><%= @game_recap.hp6_to %></td><td class='<%= hstart_class6 %>' style='border: 1px inset #000;'><%= @game_recap.hp6_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class6 %> hide_this'>$a_starter5</td></tr>
    <tr style='border: 1px inset #000;'><td class='<%= hstart_class7 %>'><%=@game_recap.hp7_name%></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%=@game_recap.hp7_min%></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%=@game_recap.hp7_pts%></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.hp7_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_box_column'><%= @game_recap.hp7_3pma %></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.hp7_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_box_column'><%= @game_recap.hp7_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_box_column'><%= @game_recap.hp7_dreb %></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.hp7_reb %></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.hp7_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_box_column'><%= @game_recap.hp7_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_box_column'><%= @game_recap.hp7_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_box_column'><%= @game_recap.hp7_to %></td><td class='<%= hstart_class7 %>' style='border: 1px inset #000;'><%= @game_recap.hp7_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class7 %> hide_this'>$a_starter6</td></tr>



    <% if @game_recap.hp8_name !=nil %>
        <tr style='border: 1px inset #000;'><td class='<%= hstart_class8 %>'><%=@game_recap.hp8_name%></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%=@game_recap.hp8_min%></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%=@game_recap.hp8_pts%></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.hp8_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_box_column'><%= @game_recap.hp8_3pma %></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.hp8_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_box_column'><%= @game_recap.hp8_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_box_column'><%= @game_recap.hp8_dreb %></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.hp8_reb %></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.hp8_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_box_column'><%= @game_recap.hp8_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_box_column'><%= @game_recap.hp8_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_box_column'><%= @game_recap.hp8_to %></td><td class='<%= hstart_class8 %>' style='border: 1px inset #000;'><%= @game_recap.hp8_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class8 %> hide_this'>$a_starter7</td></tr>
    <%else%>

    <%end%>


    <% if @game_recap.hp9_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= hstart_class9 %>'><%=@game_recap.hp9_name%></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%=@game_recap.hp9_min%></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%=@game_recap.hp9_pts%></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.hp9_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_box_column'><%= @game_recap.hp9_3pma %></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.hp9_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_box_column'><%= @game_recap.hp9_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_box_column'><%= @game_recap.hp9_dreb %></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.hp9_reb %></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.hp9_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_box_column'><%= @game_recap.hp9_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_box_column'><%= @game_recap.hp9_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_box_column'><%= @game_recap.hp9_to %></td><td class='<%= hstart_class9 %>' style='border: 1px inset #000;'><%= @game_recap.hp9_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class9 %> hide_this'>$a_starter8</td></tr>
    <%else%>

    <%end%>

    <% if @game_recap.hp10_name !=nil %>
        <tr style='border: 1px inset #000;'><td class='<%= hstart_class10 %>'><%=@game_recap.hp10_name%></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%=@game_recap.hp10_min%></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%=@game_recap.hp10_pts%></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.hp10_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_box_column'><%= @game_recap.hp10_3pma %></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.hp10_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_box_column'><%= @game_recap.hp10_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_box_column'><%= @game_recap.hp10_dreb %></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.hp10_reb %></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.hp10_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_box_column'><%= @game_recap.hp10_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_box_column'><%= @game_recap.hp10_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_box_column'><%= @game_recap.hp10_to %></td><td class='<%= hstart_class10 %>' style='border: 1px inset #000;'><%= @game_recap.hp10_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class10 %> hide_this'>$a_starter9</td></tr>
    <%else%>

    <%end%>


    <% if @game_recap.hp11_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= hstart_class11 %>'><%=@game_recap.hp11_name%></td><td class='<%= hstart_class11 %>' style='border: 1px inset #000;'><%=@game_recap.hp11_min%></td><td style='border: 1px inset #000;'><%=@game_recap.hp11_pts%></td><td style='border: 1px inset #000;'><%= @game_recap.hp11_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_box_column'><%= @game_recap.hp11_3pma %></td><td class='<%= hstart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.hp11_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_box_column'><%= @game_recap.hp11_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_box_column'><%= @game_recap.hp11_dreb %></td><td class='<%= hstart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.hp11_reb %></td><td class='<%= hstart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.hp11_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_box_column'><%= @game_recap.hp11_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_box_column'><%= @game_recap.hp11_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_box_column'><%= @game_recap.hp11_to %></td><td class='<%= hstart_class11 %>' style='border: 1px inset #000;'><%= @game_recap.hp11_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class11 %> hide_this'>$a_starter10</td></tr>
    <%else%>

    <%end%>

    <% if @game_recap.hp12_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= hstart_class12 %>'><%=@game_recap.hp12_name%></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%=@game_recap.hp12_min%></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%=@game_recap.hp12_pts%></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.hp12_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_box_column'><%= @game_recap.hp12_3pma %></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.hp12_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_box_column'><%= @game_recap.hp12_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_box_column'><%= @game_recap.hp12_dreb %></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.hp12_reb %></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.hp12_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_box_column'><%= @game_recap.hp12_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_box_column'><%= @game_recap.hp12_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_box_column'><%= @game_recap.hp12_to %></td><td class='<%= hstart_class12 %>' style='border: 1px inset #000;'><%= @game_recap.hp12_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class12 %> hide_this'>$a_starter11</td></tr>
    <%else%>

    <%end%>

    <% if @game_recap.hp13_name !=nil %>

        <tr style='border: 1px inset #000;'><td class='<%= hstart_class13 %>'><%=@game_recap.hp13_name%></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;'><%=@game_recap.hp13_min%></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;'><%=@game_recap.hp13_pts%></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.hp13_fgma.to_s %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_box_column'><%= @game_recap.hp13_3pma %></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.hp13_ftma %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_box_column'><%= @game_recap.hp13_oreb %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_box_column'><%= @game_recap.hp13_dreb %></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;' ><%= @game_recap.hp13_reb %></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.hp13_ast %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_box_column'><%= @game_recap.hp13_stl %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_box_column'><%= @game_recap.hp13_blk %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_box_column'><%= @game_recap.hp13_to %></td><td class='<%= hstart_class13 %>' style='border: 1px inset #000;'><%= @game_recap.hp13_pf %></td><td style='border: 1px inset #000;' class='<%= hstart_class13 %> hide_this'>$a_starter12</td></tr>
    <%else%>

    <%end%>
    <tr style='border: 1px inset #000;font-weight:800;'>
      <td  style='border: 1px inset #000;' colspan='2'><%= @game_recap.h_nick %> <br/>Totals</td><td style='border: 1px inset #000;'><%= @game_recap.htotal %></td><td style='border: 1px inset #000;'><%= @game_recap.hometfgma %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.homet3fgma %></td><td style='border: 1px inset #000;'><%= @game_recap.hometftma %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.hometoreb %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.hometdreb %></td><td style='border: 1px inset #000;'><%= @game_recap.hrebt %></td><td style='border: 1px inset #000;'><%= @game_recap.hastt %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.hstlt %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= @game_recap.hblkt %></td><td style='border: 1px inset #000;' class='hide_box_column'><%= home_total_to %></td><td colspan='2' style='border: 1px inset #000;'><%= @game_recap.hometpf %></td></tr>

  </table>

  <br/>
  <br/>
  <table id="box_team_total_percentages">
    <tbody><tr style="border: 1px inset #000;"><th colspan="11" style="border: 1px inset #000;">totals</th></tr>
    <tr style="border: 1px inset #000;font-weight:800;"><td style="border: 1px inset #000;"> </td><td style="border: 1px inset #000;">PTS</td><td style="border: 1px inset #000;">FG%</td><td style="border: 1px inset #000;">FT%</td><td>3PT%</td><td style="border: 1px inset #000;">REB</td><td style="border: 1px inset #000;">AST</td><td style="border: 1px inset #000;">STL</td><td style="border: 1px inset #000;">BLK</td><td style="border: 1px inset #000;">TO</td><td style="border: 1px inset #000;">PF</td></tr>
    <tr style="border: 1px inset #000;"><td style="border: 1px inset #000;font-weight:800;"><%= @game_recap.a_nick %></td><td style="border: 1px inset #000;"><%= @game_recap.atotal %></td><td style="border: 1px inset #000;"><%= @game_recap.afgp %></td><td style="border: 1px inset #000;"><%= @game_recap.aftp %></td><td style="border: 1px inset #000;"><%= @game_recap.a3ptp %></td><td style="border: 1px inset #000;"><%= @game_recap.arebt %></td><td style="border: 1px inset #000;"><%= @game_recap.aastt %></td><td style="border: 1px inset #000;"><%= @game_recap.astlt %></td><td style="border: 1px inset #000;"><%= @game_recap.ablkt %></td><td style="border: 1px inset #000;"><%= away_total_to %></td><td style="border: 1px inset #000;"><%= @game_recap.awaytpf %></td></tr>
    <tr style="border: 1px inset #000;"><td style="border: 1px inset #000;font-weight:800;"><%= @game_recap.h_nick %></td><td style="border: 1px inset #000;"><%= @game_recap.htotal %></td><td style="border: 1px inset #000;"><%= @game_recap.hfgp %></td><td style="border: 1px inset #000;"><%= @game_recap.hftp %></td><td style="border: 1px inset #000;"><%= @game_recap.h3ptp %></td><td style="border: 1px inset #000;"><%= @game_recap.hrebt %></td><td style="border: 1px inset #000;"><%= @game_recap.hastt %></td><td style="border: 1px inset #000;"><%= @game_recap.hstlt %></td><td style="border: 1px inset #000;"><%= @game_recap.hblkt %></td><td style="border: 1px inset #000;"><%= home_total_to %></td><td style="border: 1px inset #000;"><%= @game_recap.hometpf %></td></tr>
    </tbody></table>
  <br/>

  <div id="boxscore_writeup_container">
    <h2 class="story_h2_summary">Box Score Summary</h2>
    <%= game_box_recap.html_safe %>
  </div>
  <br/>
  <br/>
  <br/>



  <% if current_baller.try(:admin?) %>

  <%= link_to 'Edit', edit_game_recap_path(@game_recap) %> |

      <% else %>


      <% end %>

<%= link_to 'Back to All Recaps', game_recaps_path %> |
  <%= link_to 'Home', page_home_path %>


  <br/>
  <br/>
</div>