<% require 'active_support'%>

<p id="notice"><%= notice %></p>


<div class='box_score'><h2 class='story_h2'><span class='article_title'><%=home_or_away.html_safe %>  </span><br/><span class='box_arena_h2'><%=@game_recap.arena %> | </span><span class='box_start_date_h2'><%= date_format(@game_recap.datey) %></span><br/><%= win_or_loss.html_safe %></h2>


  <%=quarter_breakdown.html_safe %>

  <br/>
  <br/>

  <%= away_boxscore.html_safe %>

  <br/>
  <br/>



  <table id="boxscore_key">
    <tbody><tr>
      <th>BOXSCORE KEY</th>
    </tr>
    <tr><td class="starter2">STARTER</td></tr>
    </tbody></table>


  <br/>
  <br/>

  <%= home_boxscore.html_safe %>


  <br/>
  <br/>
  <%= team_totals.html_safe %>
  <br/>

  <div id="boxscore_writeup_container">
    <h2 class="story_h2_summary">Box Score Summary</h2>

    <%= show_summary.html_safe %>


  </div>
  <br/>
  <br/>
  <br/>



  <% if is_admin? %>

  <%= link_to 'Edit', edit_game_recap_path(@game_recap) %> |

      <% else %>


      <% end %>



<%= link_to 'Back to All Recaps', game_recaps_path %> |

  <%= link_to 'Home', home_path %>


  <br/>
  <br/>
</div>