<p id="notice"><%= notice %></p>

<p>
  <strong>Game string:</strong>
  <%= @game_recap.game_string %>
</p>

<p>
  <strong>Datey:</strong>
  <%= @game_recap.datey %>
</p>

<p>
  <strong>Dashy date:</strong>
  <%= @game_recap.dashy_date %>
</p>

<p>
  <strong>Afname:</strong>
  <%= @game_recap.afname %>
</p>

<p>
  <strong>Hfname:</strong>
  <%= @game_recap.hfname %>
</p>

<p>
  <strong>Atotal:</strong>
  <%= @game_recap.atotal %>
</p>

<p>
  <strong>Htotal:</strong>
  <%= @game_recap.htotal %>
</p>

<p>
  <strong>Arena:</strong>
  <%= @game_recap.arena %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @game_recap.capacity %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @game_recap.attendance %>
</p>

<p>
  <strong>Ref1:</strong>
  <%= @game_recap.ref1 %>
</p>

<p>
  <strong>Ref2:</strong>
  <%= @game_recap.ref2 %>
</p>

<p>
  <strong>Ref3:</strong>
  <%= @game_recap.ref3 %>
</p>

<p>
  <strong>Hp1 name:</strong>
  <%= @game_recap.hp1_name %>
</p>

<p>
  <strong>Hp1 min:</strong>
  <%= @game_recap.hp1_min %>
</p>

<p>
  <strong>Hp1 pts:</strong>
  <%= @game_recap.hp1_pts %>
</p>

<p>
  <strong>Hp1 fgma:</strong>
  <%= @game_recap.hp1_fgma %>
</p>

<p>
  <strong>Hp1 3pma:</strong>
  <%= @game_recap.hp1_3pma %>
</p>

<p>
  <strong>Hp1 ftma:</strong>
  <%= @game_recap.hp1_ftma %>
</p>

<p>
  <strong>Hp1 oreb:</strong>
  <%= @game_recap.hp1_oreb %>
</p>

<p>
  <strong>Hp1 dreb:</strong>
  <%= @game_recap.hp1_dreb %>
</p>

<p>
  <strong>Hp1 reb:</strong>
  <%= @game_recap.hp1_reb %>
</p>

<p>
  <strong>Hp1 ast:</strong>
  <%= @game_recap.hp1_ast %>
</p>

<p>
  <strong>Hp1 stl:</strong>
  <%= @game_recap.hp1_stl %>
</p>

<p>
  <strong>Hp1 blk:</strong>
  <%= @game_recap.hp1_blk %>
</p>

<p>
  <strong>Hp1 to:</strong>
  <%= @game_recap.hp1_to %>
</p>

<p>
  <strong>Hp1 pf:</strong>
  <%= @game_recap.hp1_pf %>
</p>

<p>
  <strong>Hp1 starter:</strong>
  <%= @game_recap.hp1_starter %>
</p>

<p>
  <strong>Hp2 name:</strong>
  <%= @game_recap.hp2_name %>
</p>

<p>
  <strong>Hp2 min:</strong>
  <%= @game_recap.hp2_min %>
</p>

<p>
  <strong>Hp2 pts:</strong>
  <%= @game_recap.hp2_pts %>
</p>

<p>
  <strong>Hp2 fgma:</strong>
  <%= @game_recap.hp2_fgma %>
</p>

<p>
  <strong>Hp2 3pma:</strong>
  <%= @game_recap.hp2_3pma %>
</p>

<p>
  <strong>Hp2 ftma:</strong>
  <%= @game_recap.hp2_ftma %>
</p>

<p>
  <strong>Hp2 oreb:</strong>
  <%= @game_recap.hp2_oreb %>
</p>

<p>
  <strong>Hp2 dreb:</strong>
  <%= @game_recap.hp2_dreb %>
</p>

<p>
  <strong>Hp2 reb:</strong>
  <%= @game_recap.hp2_reb %>
</p>

<p>
  <strong>Hp2 ast:</strong>
  <%= @game_recap.hp2_ast %>
</p>

<p>
  <strong>Hp2 stl:</strong>
  <%= @game_recap.hp2_stl %>
</p>

<p>
  <strong>Hp2 blk:</strong>
  <%= @game_recap.hp2_blk %>
</p>

<p>
  <strong>Hp2 to:</strong>
  <%= @game_recap.hp2_to %>
</p>

<p>
  <strong>Hp2 pf:</strong>
  <%= @game_recap.hp2_pf %>
</p>

<p>
  <strong>Hp2 starter:</strong>
  <%= @game_recap.hp2_starter %>
</p>

<p>
  <strong>Hp3 name:</strong>
  <%= @game_recap.hp3_name %>
</p>

<p>
  <strong>Hp3 min:</strong>
  <%= @game_recap.hp3_min %>
</p>

<p>
  <strong>Hp3 pts:</strong>
  <%= @game_recap.hp3_pts %>
</p>

<p>
  <strong>Hp3 fgma:</strong>
  <%= @game_recap.hp3_fgma %>
</p>

<p>
  <strong>Hp3 3pma:</strong>
  <%= @game_recap.hp3_3pma %>
</p>

<p>
  <strong>Hp3 ftma:</strong>
  <%= @game_recap.hp3_ftma %>
</p>

<p>
  <strong>Hp3 oreb:</strong>
  <%= @game_recap.hp3_oreb %>
</p>

<p>
  <strong>Hp3 dreb:</strong>
  <%= @game_recap.hp3_dreb %>
</p>

<p>
  <strong>Hp3 reb:</strong>
  <%= @game_recap.hp3_reb %>
</p>

<p>
  <strong>Hp3 ast:</strong>
  <%= @game_recap.hp3_ast %>
</p>

<p>
  <strong>Hp3 stl:</strong>
  <%= @game_recap.hp3_stl %>
</p>

<p>
  <strong>Hp3 blk:</strong>
  <%= @game_recap.hp3_blk %>
</p>

<p>
  <strong>Hp3 to:</strong>
  <%= @game_recap.hp3_to %>
</p>

<p>
  <strong>Hp3 pf:</strong>
  <%= @game_recap.hp3_pf %>
</p>

<p>
  <strong>Hp3 starter:</strong>
  <%= @game_recap.hp3_starter %>
</p>

<p>
  <strong>Hp4 name:</strong>
  <%= @game_recap.hp4_name %>
</p>

<p>
  <strong>Hp4 min:</strong>
  <%= @game_recap.hp4_min %>
</p>

<p>
  <strong>Hp4 pts:</strong>
  <%= @game_recap.hp4_pts %>
</p>

<p>
  <strong>Hp4 fgma:</strong>
  <%= @game_recap.hp4_fgma %>
</p>

<p>
  <strong>Hp4 3pma:</strong>
  <%= @game_recap.hp4_3pma %>
</p>

<p>
  <strong>Hp4 ftma:</strong>
  <%= @game_recap.hp4_ftma %>
</p>

<p>
  <strong>Hp4 oreb:</strong>
  <%= @game_recap.hp4_oreb %>
</p>

<p>
  <strong>Hp4 dreb:</strong>
  <%= @game_recap.hp4_dreb %>
</p>

<p>
  <strong>Hp4 reb:</strong>
  <%= @game_recap.hp4_reb %>
</p>

<p>
  <strong>Hp4 ast:</strong>
  <%= @game_recap.hp4_ast %>
</p>

<p>
  <strong>Hp4 stl:</strong>
  <%= @game_recap.hp4_stl %>
</p>

<p>
  <strong>Hp4 blk:</strong>
  <%= @game_recap.hp4_blk %>
</p>

<p>
  <strong>Hp4 to:</strong>
  <%= @game_recap.hp4_to %>
</p>

<p>
  <strong>Hp4 pf:</strong>
  <%= @game_recap.hp4_pf %>
</p>

<p>
  <strong>Hp4 starter:</strong>
  <%= @game_recap.hp4_starter %>
</p>

<p>
  <strong>Hp5 name:</strong>
  <%= @game_recap.hp5_name %>
</p>

<p>
  <strong>Hp5 min:</strong>
  <%= @game_recap.hp5_min %>
</p>

<p>
  <strong>Hp5 pts:</strong>
  <%= @game_recap.hp5_pts %>
</p>

<p>
  <strong>Hp5 fgma:</strong>
  <%= @game_recap.hp5_fgma %>
</p>

<p>
  <strong>Hp5 3pma:</strong>
  <%= @game_recap.hp5_3pma %>
</p>

<p>
  <strong>Hp5 ftma:</strong>
  <%= @game_recap.hp5_ftma %>
</p>

<p>
  <strong>Hp5 oreb:</strong>
  <%= @game_recap.hp5_oreb %>
</p>

<p>
  <strong>Hp5 dreb:</strong>
  <%= @game_recap.hp5_dreb %>
</p>

<p>
  <strong>Hp5 reb:</strong>
  <%= @game_recap.hp5_reb %>
</p>

<p>
  <strong>Hp5 ast:</strong>
  <%= @game_recap.hp5_ast %>
</p>

<p>
  <strong>Hp5 stl:</strong>
  <%= @game_recap.hp5_stl %>
</p>

<p>
  <strong>Hp5 blk:</strong>
  <%= @game_recap.hp5_blk %>
</p>

<p>
  <strong>Hp5 to:</strong>
  <%= @game_recap.hp5_to %>
</p>

<p>
  <strong>Hp5 pf:</strong>
  <%= @game_recap.hp5_pf %>
</p>

<p>
  <strong>Hp5 starter:</strong>
  <%= @game_recap.hp5_starter %>
</p>

<p>
  <strong>Hp6 name:</strong>
  <%= @game_recap.hp6_name %>
</p>

<p>
  <strong>Hp6 min:</strong>
  <%= @game_recap.hp6_min %>
</p>

<p>
  <strong>Hp6 pts:</strong>
  <%= @game_recap.hp6_pts %>
</p>

<p>
  <strong>Hp6 fgma:</strong>
  <%= @game_recap.hp6_fgma %>
</p>

<p>
  <strong>Hp6 3pma:</strong>
  <%= @game_recap.hp6_3pma %>
</p>

<p>
  <strong>Hp6 ftma:</strong>
  <%= @game_recap.hp6_ftma %>
</p>

<p>
  <strong>Hp6 oreb:</strong>
  <%= @game_recap.hp6_oreb %>
</p>

<p>
  <strong>Hp6 dreb:</strong>
  <%= @game_recap.hp6_dreb %>
</p>

<p>
  <strong>Hp6 reb:</strong>
  <%= @game_recap.hp6_reb %>
</p>

<p>
  <strong>Hp6 ast:</strong>
  <%= @game_recap.hp6_ast %>
</p>

<p>
  <strong>Hp6 stl:</strong>
  <%= @game_recap.hp6_stl %>
</p>

<p>
  <strong>Hp6 blk:</strong>
  <%= @game_recap.hp6_blk %>
</p>

<p>
  <strong>Hp6 to:</strong>
  <%= @game_recap.hp6_to %>
</p>

<p>
  <strong>Hp6 pf:</strong>
  <%= @game_recap.hp6_pf %>
</p>

<p>
  <strong>Hp6 starter:</strong>
  <%= @game_recap.hp6_starter %>
</p>

<p>
  <strong>Hp7 name:</strong>
  <%= @game_recap.hp7_name %>
</p>

<p>
  <strong>Hp7 min:</strong>
  <%= @game_recap.hp7_min %>
</p>

<p>
  <strong>Hp7 pts:</strong>
  <%= @game_recap.hp7_pts %>
</p>

<p>
  <strong>Hp7 fgma:</strong>
  <%= @game_recap.hp7_fgma %>
</p>

<p>
  <strong>Hp7 3pma:</strong>
  <%= @game_recap.hp7_3pma %>
</p>

<p>
  <strong>Hp7 ftma:</strong>
  <%= @game_recap.hp7_ftma %>
</p>

<p>
  <strong>Hp7 oreb:</strong>
  <%= @game_recap.hp7_oreb %>
</p>

<p>
  <strong>Hp7 dreb:</strong>
  <%= @game_recap.hp7_dreb %>
</p>

<p>
  <strong>Hp7 reb:</strong>
  <%= @game_recap.hp7_reb %>
</p>

<p>
  <strong>Hp7 ast:</strong>
  <%= @game_recap.hp7_ast %>
</p>

<p>
  <strong>Hp7 stl:</strong>
  <%= @game_recap.hp7_stl %>
</p>

<p>
  <strong>Hp7 blk:</strong>
  <%= @game_recap.hp7_blk %>
</p>

<p>
  <strong>Hp7 to:</strong>
  <%= @game_recap.hp7_to %>
</p>

<p>
  <strong>Hp7 pf:</strong>
  <%= @game_recap.hp7_pf %>
</p>

<p>
  <strong>Hp7 starter:</strong>
  <%= @game_recap.hp7_starter %>
</p>

<p>
  <strong>Hp8 name:</strong>
  <%= @game_recap.hp8_name %>
</p>

<p>
  <strong>Hp8 min:</strong>
  <%= @game_recap.hp8_min %>
</p>

<p>
  <strong>Hp8 pts:</strong>
  <%= @game_recap.hp8_pts %>
</p>

<p>
  <strong>Hp8 fgma:</strong>
  <%= @game_recap.hp8_fgma %>
</p>

<p>
  <strong>Hp8 3pma:</strong>
  <%= @game_recap.hp8_3pma %>
</p>

<p>
  <strong>Hp8 ftma:</strong>
  <%= @game_recap.hp8_ftma %>
</p>

<p>
  <strong>Hp8 oreb:</strong>
  <%= @game_recap.hp8_oreb %>
</p>

<p>
  <strong>Hp8 dreb:</strong>
  <%= @game_recap.hp8_dreb %>
</p>

<p>
  <strong>Hp8 reb:</strong>
  <%= @game_recap.hp8_reb %>
</p>

<p>
  <strong>Hp8 ast:</strong>
  <%= @game_recap.hp8_ast %>
</p>

<p>
  <strong>Hp8 stl:</strong>
  <%= @game_recap.hp8_stl %>
</p>

<p>
  <strong>Hp8 blk:</strong>
  <%= @game_recap.hp8_blk %>
</p>

<p>
  <strong>Hp8 to:</strong>
  <%= @game_recap.hp8_to %>
</p>

<p>
  <strong>Hp8 pf:</strong>
  <%= @game_recap.hp8_pf %>
</p>

<p>
  <strong>Hp8 starter:</strong>
  <%= @game_recap.hp8_starter %>
</p>

<p>
  <strong>Hp9 name:</strong>
  <%= @game_recap.hp9_name %>
</p>

<p>
  <strong>Hp9 min:</strong>
  <%= @game_recap.hp9_min %>
</p>

<p>
  <strong>Hp9 pts:</strong>
  <%= @game_recap.hp9_pts %>
</p>

<p>
  <strong>Hp9 fgma:</strong>
  <%= @game_recap.hp9_fgma %>
</p>

<p>
  <strong>Hp9 3pma:</strong>
  <%= @game_recap.hp9_3pma %>
</p>

<p>
  <strong>Hp9 ftma:</strong>
  <%= @game_recap.hp9_ftma %>
</p>

<p>
  <strong>Hp9 oreb:</strong>
  <%= @game_recap.hp9_oreb %>
</p>

<p>
  <strong>Hp9 dreb:</strong>
  <%= @game_recap.hp9_dreb %>
</p>

<p>
  <strong>Hp9 reb:</strong>
  <%= @game_recap.hp9_reb %>
</p>

<p>
  <strong>Hp9 ast:</strong>
  <%= @game_recap.hp9_ast %>
</p>

<p>
  <strong>Hp9 stl:</strong>
  <%= @game_recap.hp9_stl %>
</p>

<p>
  <strong>Hp9 blk:</strong>
  <%= @game_recap.hp9_blk %>
</p>

<p>
  <strong>Hp9 to:</strong>
  <%= @game_recap.hp9_to %>
</p>

<p>
  <strong>Hp9 pf:</strong>
  <%= @game_recap.hp9_pf %>
</p>

<p>
  <strong>Hp9 starter:</strong>
  <%= @game_recap.hp9_starter %>
</p>

<p>
  <strong>Hp10 name:</strong>
  <%= @game_recap.hp10_name %>
</p>

<p>
  <strong>Hp10 min:</strong>
  <%= @game_recap.hp10_min %>
</p>

<p>
  <strong>Hp10 pts:</strong>
  <%= @game_recap.hp10_pts %>
</p>

<p>
  <strong>Hp10 fgma:</strong>
  <%= @game_recap.hp10_fgma %>
</p>

<p>
  <strong>Hp10 3pma:</strong>
  <%= @game_recap.hp10_3pma %>
</p>

<p>
  <strong>Hp10 ftma:</strong>
  <%= @game_recap.hp10_ftma %>
</p>

<p>
  <strong>Hp10 oreb:</strong>
  <%= @game_recap.hp10_oreb %>
</p>

<p>
  <strong>Hp10 dreb:</strong>
  <%= @game_recap.hp10_dreb %>
</p>

<p>
  <strong>Hp10 reb:</strong>
  <%= @game_recap.hp10_reb %>
</p>

<p>
  <strong>Hp10 ast:</strong>
  <%= @game_recap.hp10_ast %>
</p>

<p>
  <strong>Hp10 stl:</strong>
  <%= @game_recap.hp10_stl %>
</p>

<p>
  <strong>Hp10 blk:</strong>
  <%= @game_recap.hp10_blk %>
</p>

<p>
  <strong>Hp10 to:</strong>
  <%= @game_recap.hp10_to %>
</p>

<p>
  <strong>Hp10 pf:</strong>
  <%= @game_recap.hp10_pf %>
</p>

<p>
  <strong>Hp10 starter:</strong>
  <%= @game_recap.hp10_starter %>
</p>

<p>
  <strong>Hp11 name:</strong>
  <%= @game_recap.hp11_name %>
</p>

<p>
  <strong>Hp11 min:</strong>
  <%= @game_recap.hp11_min %>
</p>

<p>
  <strong>Hp11 pts:</strong>
  <%= @game_recap.hp11_pts %>
</p>

<p>
  <strong>Hp11 fgma:</strong>
  <%= @game_recap.hp11_fgma %>
</p>

<p>
  <strong>Hp11 3pma:</strong>
  <%= @game_recap.hp11_3pma %>
</p>

<p>
  <strong>Hp11 ftma:</strong>
  <%= @game_recap.hp11_ftma %>
</p>

<p>
  <strong>Hp11 oreb:</strong>
  <%= @game_recap.hp11_oreb %>
</p>

<p>
  <strong>Hp11 dreb:</strong>
  <%= @game_recap.hp11_dreb %>
</p>

<p>
  <strong>Hp11 reb:</strong>
  <%= @game_recap.hp11_reb %>
</p>

<p>
  <strong>Hp11 ast:</strong>
  <%= @game_recap.hp11_ast %>
</p>

<p>
  <strong>Hp11 stl:</strong>
  <%= @game_recap.hp11_stl %>
</p>

<p>
  <strong>Hp11 blk:</strong>
  <%= @game_recap.hp11_blk %>
</p>

<p>
  <strong>Hp11 to:</strong>
  <%= @game_recap.hp11_to %>
</p>

<p>
  <strong>Hp11 pf:</strong>
  <%= @game_recap.hp11_pf %>
</p>

<p>
  <strong>Hp11 starter:</strong>
  <%= @game_recap.hp11_starter %>
</p>

<p>
  <strong>Hp12 name:</strong>
  <%= @game_recap.hp12_name %>
</p>

<p>
  <strong>Hp12 min:</strong>
  <%= @game_recap.hp12_min %>
</p>

<p>
  <strong>Hp12 pts:</strong>
  <%= @game_recap.hp12_pts %>
</p>

<p>
  <strong>Hp12 fgma:</strong>
  <%= @game_recap.hp12_fgma %>
</p>

<p>
  <strong>Hp12 3pma:</strong>
  <%= @game_recap.hp12_3pma %>
</p>

<p>
  <strong>Hp12 ftma:</strong>
  <%= @game_recap.hp12_ftma %>
</p>

<p>
  <strong>Hp12 oreb:</strong>
  <%= @game_recap.hp12_oreb %>
</p>

<p>
  <strong>Hp12 dreb:</strong>
  <%= @game_recap.hp12_dreb %>
</p>

<p>
  <strong>Hp12 reb:</strong>
  <%= @game_recap.hp12_reb %>
</p>

<p>
  <strong>Hp12 ast:</strong>
  <%= @game_recap.hp12_ast %>
</p>

<p>
  <strong>Hp12 stl:</strong>
  <%= @game_recap.hp12_stl %>
</p>

<p>
  <strong>Hp12 blk:</strong>
  <%= @game_recap.hp12_blk %>
</p>

<p>
  <strong>Hp12 to:</strong>
  <%= @game_recap.hp12_to %>
</p>

<p>
  <strong>Hp12 pf:</strong>
  <%= @game_recap.hp12_pf %>
</p>

<p>
  <strong>Hp12 starter:</strong>
  <%= @game_recap.hp12_starter %>
</p>

<p>
  <strong>Hp13 name:</strong>
  <%= @game_recap.hp13_name %>
</p>

<p>
  <strong>Hp13 min:</strong>
  <%= @game_recap.hp13_min %>
</p>

<p>
  <strong>Hp13 pts:</strong>
  <%= @game_recap.hp13_pts %>
</p>

<p>
  <strong>Hp13 fgma:</strong>
  <%= @game_recap.hp13_fgma %>
</p>

<p>
  <strong>Hp13 3pma:</strong>
  <%= @game_recap.hp13_3pma %>
</p>

<p>
  <strong>Hp13 ftma:</strong>
  <%= @game_recap.hp13_ftma %>
</p>

<p>
  <strong>Hp13 oreb:</strong>
  <%= @game_recap.hp13_oreb %>
</p>

<p>
  <strong>Hp13 dreb:</strong>
  <%= @game_recap.hp13_dreb %>
</p>

<p>
  <strong>Hp13 reb:</strong>
  <%= @game_recap.hp13_reb %>
</p>

<p>
  <strong>Hp13 ast:</strong>
  <%= @game_recap.hp13_ast %>
</p>

<p>
  <strong>Hp13 stl:</strong>
  <%= @game_recap.hp13_stl %>
</p>

<p>
  <strong>Hp13 blk:</strong>
  <%= @game_recap.hp13_blk %>
</p>

<p>
  <strong>Hp13 to:</strong>
  <%= @game_recap.hp13_to %>
</p>

<p>
  <strong>Hp13 pf:</strong>
  <%= @game_recap.hp13_pf %>
</p>

<p>
  <strong>Hp13 starter:</strong>
  <%= @game_recap.hp13_starter %>
</p>

<p>
  <strong>Ap1 name:</strong>
  <%= @game_recap.ap1_name %>
</p>

<p>
  <strong>Ap1 min:</strong>
  <%= @game_recap.ap1_min %>
</p>

<p>
  <strong>Ap1 pts:</strong>
  <%= @game_recap.ap1_pts %>
</p>

<p>
  <strong>Ap1 fgma:</strong>
  <%= @game_recap.ap1_fgma %>
</p>

<p>
  <strong>Ap1 3pma:</strong>
  <%= @game_recap.ap1_3pma %>
</p>

<p>
  <strong>Ap1 ftma:</strong>
  <%= @game_recap.ap1_ftma %>
</p>

<p>
  <strong>Ap1 oreb:</strong>
  <%= @game_recap.ap1_oreb %>
</p>

<p>
  <strong>Ap1 dreb:</strong>
  <%= @game_recap.ap1_dreb %>
</p>

<p>
  <strong>Ap1 reb:</strong>
  <%= @game_recap.ap1_reb %>
</p>

<p>
  <strong>Ap1 ast:</strong>
  <%= @game_recap.ap1_ast %>
</p>

<p>
  <strong>Ap1 stl:</strong>
  <%= @game_recap.ap1_stl %>
</p>

<p>
  <strong>Ap1 blk:</strong>
  <%= @game_recap.ap1_blk %>
</p>

<p>
  <strong>Ap1 to:</strong>
  <%= @game_recap.ap1_to %>
</p>

<p>
  <strong>Ap1 pf:</strong>
  <%= @game_recap.ap1_pf %>
</p>

<p>
  <strong>Ap1 starter:</strong>
  <%= @game_recap.ap1_starter %>
</p>

<p>
  <strong>Ap2 name:</strong>
  <%= @game_recap.ap2_name %>
</p>

<p>
  <strong>Ap2 min:</strong>
  <%= @game_recap.ap2_min %>
</p>

<p>
  <strong>Ap2 pts:</strong>
  <%= @game_recap.ap2_pts %>
</p>

<p>
  <strong>Ap2 fgma:</strong>
  <%= @game_recap.ap2_fgma %>
</p>

<p>
  <strong>Ap2 3pma:</strong>
  <%= @game_recap.ap2_3pma %>
</p>

<p>
  <strong>Ap2 ftma:</strong>
  <%= @game_recap.ap2_ftma %>
</p>

<p>
  <strong>Ap2 oreb:</strong>
  <%= @game_recap.ap2_oreb %>
</p>

<p>
  <strong>Ap2 dreb:</strong>
  <%= @game_recap.ap2_dreb %>
</p>

<p>
  <strong>Ap2 reb:</strong>
  <%= @game_recap.ap2_reb %>
</p>

<p>
  <strong>Ap2 ast:</strong>
  <%= @game_recap.ap2_ast %>
</p>

<p>
  <strong>Ap2 stl:</strong>
  <%= @game_recap.ap2_stl %>
</p>

<p>
  <strong>Ap2 blk:</strong>
  <%= @game_recap.ap2_blk %>
</p>

<p>
  <strong>Ap2 to:</strong>
  <%= @game_recap.ap2_to %>
</p>

<p>
  <strong>Ap2 pf:</strong>
  <%= @game_recap.ap2_pf %>
</p>

<p>
  <strong>Ap2 starter:</strong>
  <%= @game_recap.ap2_starter %>
</p>

<p>
  <strong>Ap3 name:</strong>
  <%= @game_recap.ap3_name %>
</p>

<p>
  <strong>Ap3 min:</strong>
  <%= @game_recap.ap3_min %>
</p>

<p>
  <strong>Ap3 pts:</strong>
  <%= @game_recap.ap3_pts %>
</p>

<p>
  <strong>Ap3 fgma:</strong>
  <%= @game_recap.ap3_fgma %>
</p>

<p>
  <strong>Ap3 3pma:</strong>
  <%= @game_recap.ap3_3pma %>
</p>

<p>
  <strong>Ap3 ftma:</strong>
  <%= @game_recap.ap3_ftma %>
</p>

<p>
  <strong>Ap3 oreb:</strong>
  <%= @game_recap.ap3_oreb %>
</p>

<p>
  <strong>Ap3 dreb:</strong>
  <%= @game_recap.ap3_dreb %>
</p>

<p>
  <strong>Ap3 reb:</strong>
  <%= @game_recap.ap3_reb %>
</p>

<p>
  <strong>Ap3 ast:</strong>
  <%= @game_recap.ap3_ast %>
</p>

<p>
  <strong>Ap3 stl:</strong>
  <%= @game_recap.ap3_stl %>
</p>

<p>
  <strong>Ap3 blk:</strong>
  <%= @game_recap.ap3_blk %>
</p>

<p>
  <strong>Ap3 to:</strong>
  <%= @game_recap.ap3_to %>
</p>

<p>
  <strong>Ap3 pf:</strong>
  <%= @game_recap.ap3_pf %>
</p>

<p>
  <strong>Ap3 starter:</strong>
  <%= @game_recap.ap3_starter %>
</p>

<p>
  <strong>Ap4 name:</strong>
  <%= @game_recap.ap4_name %>
</p>

<p>
  <strong>Ap4 min:</strong>
  <%= @game_recap.ap4_min %>
</p>

<p>
  <strong>Ap4 pts:</strong>
  <%= @game_recap.ap4_pts %>
</p>

<p>
  <strong>Ap4 fgma:</strong>
  <%= @game_recap.ap4_fgma %>
</p>

<p>
  <strong>Ap4 3pma:</strong>
  <%= @game_recap.ap4_3pma %>
</p>

<p>
  <strong>Ap4 ftma:</strong>
  <%= @game_recap.ap4_ftma %>
</p>

<p>
  <strong>Ap4 oreb:</strong>
  <%= @game_recap.ap4_oreb %>
</p>

<p>
  <strong>Ap4 dreb:</strong>
  <%= @game_recap.ap4_dreb %>
</p>

<p>
  <strong>Ap4 reb:</strong>
  <%= @game_recap.ap4_reb %>
</p>

<p>
  <strong>Ap4 ast:</strong>
  <%= @game_recap.ap4_ast %>
</p>

<p>
  <strong>Ap4 stl:</strong>
  <%= @game_recap.ap4_stl %>
</p>

<p>
  <strong>Ap4 blk:</strong>
  <%= @game_recap.ap4_blk %>
</p>

<p>
  <strong>Ap4 to:</strong>
  <%= @game_recap.ap4_to %>
</p>

<p>
  <strong>Ap4 pf:</strong>
  <%= @game_recap.ap4_pf %>
</p>

<p>
  <strong>Ap4 starter:</strong>
  <%= @game_recap.ap4_starter %>
</p>

<p>
  <strong>Ap5 name:</strong>
  <%= @game_recap.ap5_name %>
</p>

<p>
  <strong>Ap5 min:</strong>
  <%= @game_recap.ap5_min %>
</p>

<p>
  <strong>Ap5 pts:</strong>
  <%= @game_recap.ap5_pts %>
</p>

<p>
  <strong>Ap5 fgma:</strong>
  <%= @game_recap.ap5_fgma %>
</p>

<p>
  <strong>Ap5 3pma:</strong>
  <%= @game_recap.ap5_3pma %>
</p>

<p>
  <strong>Ap5 ftma:</strong>
  <%= @game_recap.ap5_ftma %>
</p>

<p>
  <strong>Ap5 oreb:</strong>
  <%= @game_recap.ap5_oreb %>
</p>

<p>
  <strong>Ap5 dreb:</strong>
  <%= @game_recap.ap5_dreb %>
</p>

<p>
  <strong>Ap5 reb:</strong>
  <%= @game_recap.ap5_reb %>
</p>

<p>
  <strong>Ap5 ast:</strong>
  <%= @game_recap.ap5_ast %>
</p>

<p>
  <strong>Ap5 stl:</strong>
  <%= @game_recap.ap5_stl %>
</p>

<p>
  <strong>Ap5 blk:</strong>
  <%= @game_recap.ap5_blk %>
</p>

<p>
  <strong>Ap5 to:</strong>
  <%= @game_recap.ap5_to %>
</p>

<p>
  <strong>Ap5 pf:</strong>
  <%= @game_recap.ap5_pf %>
</p>

<p>
  <strong>Ap5 starter:</strong>
  <%= @game_recap.ap5_starter %>
</p>

<p>
  <strong>Ap6 name:</strong>
  <%= @game_recap.ap6_name %>
</p>

<p>
  <strong>Ap6 min:</strong>
  <%= @game_recap.ap6_min %>
</p>

<p>
  <strong>Ap6 pts:</strong>
  <%= @game_recap.ap6_pts %>
</p>

<p>
  <strong>Ap6 fgma:</strong>
  <%= @game_recap.ap6_fgma %>
</p>

<p>
  <strong>Ap6 3pma:</strong>
  <%= @game_recap.ap6_3pma %>
</p>

<p>
  <strong>Ap6 ftma:</strong>
  <%= @game_recap.ap6_ftma %>
</p>

<p>
  <strong>Ap6 oreb:</strong>
  <%= @game_recap.ap6_oreb %>
</p>

<p>
  <strong>Ap6 dreb:</strong>
  <%= @game_recap.ap6_dreb %>
</p>

<p>
  <strong>Ap6 reb:</strong>
  <%= @game_recap.ap6_reb %>
</p>

<p>
  <strong>Ap6 ast:</strong>
  <%= @game_recap.ap6_ast %>
</p>

<p>
  <strong>Ap6 stl:</strong>
  <%= @game_recap.ap6_stl %>
</p>

<p>
  <strong>Ap6 blk:</strong>
  <%= @game_recap.ap6_blk %>
</p>

<p>
  <strong>Ap6 to:</strong>
  <%= @game_recap.ap6_to %>
</p>

<p>
  <strong>Ap6 pf:</strong>
  <%= @game_recap.ap6_pf %>
</p>

<p>
  <strong>Ap6 starter:</strong>
  <%= @game_recap.ap6_starter %>
</p>

<p>
  <strong>Ap7 name:</strong>
  <%= @game_recap.ap7_name %>
</p>

<p>
  <strong>Ap7 min:</strong>
  <%= @game_recap.ap7_min %>
</p>

<p>
  <strong>Ap7 pts:</strong>
  <%= @game_recap.ap7_pts %>
</p>

<p>
  <strong>Ap7 fgma:</strong>
  <%= @game_recap.ap7_fgma %>
</p>

<p>
  <strong>Ap7 3pma:</strong>
  <%= @game_recap.ap7_3pma %>
</p>

<p>
  <strong>Ap7 ftma:</strong>
  <%= @game_recap.ap7_ftma %>
</p>

<p>
  <strong>Ap7 oreb:</strong>
  <%= @game_recap.ap7_oreb %>
</p>

<p>
  <strong>Ap7 dreb:</strong>
  <%= @game_recap.ap7_dreb %>
</p>

<p>
  <strong>Ap7 reb:</strong>
  <%= @game_recap.ap7_reb %>
</p>

<p>
  <strong>Ap7 ast:</strong>
  <%= @game_recap.ap7_ast %>
</p>

<p>
  <strong>Ap7 stl:</strong>
  <%= @game_recap.ap7_stl %>
</p>

<p>
  <strong>Ap7 blk:</strong>
  <%= @game_recap.ap7_blk %>
</p>

<p>
  <strong>Ap7 to:</strong>
  <%= @game_recap.ap7_to %>
</p>

<p>
  <strong>Ap7 pf:</strong>
  <%= @game_recap.ap7_pf %>
</p>

<p>
  <strong>Ap7 starter:</strong>
  <%= @game_recap.ap7_starter %>
</p>

<p>
  <strong>Ap8 name:</strong>
  <%= @game_recap.ap8_name %>
</p>

<p>
  <strong>Ap8 min:</strong>
  <%= @game_recap.ap8_min %>
</p>

<p>
  <strong>Ap8 pts:</strong>
  <%= @game_recap.ap8_pts %>
</p>

<p>
  <strong>Ap8 fgma:</strong>
  <%= @game_recap.ap8_fgma %>
</p>

<p>
  <strong>Ap8 3pma:</strong>
  <%= @game_recap.ap8_3pma %>
</p>

<p>
  <strong>Ap8 ftma:</strong>
  <%= @game_recap.ap8_ftma %>
</p>

<p>
  <strong>Ap8 oreb:</strong>
  <%= @game_recap.ap8_oreb %>
</p>

<p>
  <strong>Ap8 dreb:</strong>
  <%= @game_recap.ap8_dreb %>
</p>

<p>
  <strong>Ap8 reb:</strong>
  <%= @game_recap.ap8_reb %>
</p>

<p>
  <strong>Ap8 ast:</strong>
  <%= @game_recap.ap8_ast %>
</p>

<p>
  <strong>Ap8 stl:</strong>
  <%= @game_recap.ap8_stl %>
</p>

<p>
  <strong>Ap8 blk:</strong>
  <%= @game_recap.ap8_blk %>
</p>

<p>
  <strong>Ap8 to:</strong>
  <%= @game_recap.ap8_to %>
</p>

<p>
  <strong>Ap8 pf:</strong>
  <%= @game_recap.ap8_pf %>
</p>

<p>
  <strong>Ap8 starter:</strong>
  <%= @game_recap.ap8_starter %>
</p>

<p>
  <strong>Ap9 name:</strong>
  <%= @game_recap.ap9_name %>
</p>

<p>
  <strong>Ap9 min:</strong>
  <%= @game_recap.ap9_min %>
</p>

<p>
  <strong>Ap9 pts:</strong>
  <%= @game_recap.ap9_pts %>
</p>

<p>
  <strong>Ap9 fgma:</strong>
  <%= @game_recap.ap9_fgma %>
</p>

<p>
  <strong>Ap9 3pma:</strong>
  <%= @game_recap.ap9_3pma %>
</p>

<p>
  <strong>Ap9 ftma:</strong>
  <%= @game_recap.ap9_ftma %>
</p>

<p>
  <strong>Ap9 oreb:</strong>
  <%= @game_recap.ap9_oreb %>
</p>

<p>
  <strong>Ap9 dreb:</strong>
  <%= @game_recap.ap9_dreb %>
</p>

<p>
  <strong>Ap9 reb:</strong>
  <%= @game_recap.ap9_reb %>
</p>

<p>
  <strong>Ap9 ast:</strong>
  <%= @game_recap.ap9_ast %>
</p>

<p>
  <strong>Ap9 stl:</strong>
  <%= @game_recap.ap9_stl %>
</p>

<p>
  <strong>Ap9 blk:</strong>
  <%= @game_recap.ap9_blk %>
</p>

<p>
  <strong>Ap9 to:</strong>
  <%= @game_recap.ap9_to %>
</p>

<p>
  <strong>Ap9 pf:</strong>
  <%= @game_recap.ap9_pf %>
</p>

<p>
  <strong>Ap9 starter:</strong>
  <%= @game_recap.ap9_starter %>
</p>

<p>
  <strong>Ap10 name:</strong>
  <%= @game_recap.ap10_name %>
</p>

<p>
  <strong>Ap10 min:</strong>
  <%= @game_recap.ap10_min %>
</p>

<p>
  <strong>Ap10 pts:</strong>
  <%= @game_recap.ap10_pts %>
</p>

<p>
  <strong>Ap10 fgma:</strong>
  <%= @game_recap.ap10_fgma %>
</p>

<p>
  <strong>Ap10 3pma:</strong>
  <%= @game_recap.ap10_3pma %>
</p>

<p>
  <strong>Ap10 ftma:</strong>
  <%= @game_recap.ap10_ftma %>
</p>

<p>
  <strong>Ap10 oreb:</strong>
  <%= @game_recap.ap10_oreb %>
</p>

<p>
  <strong>Ap10 dreb:</strong>
  <%= @game_recap.ap10_dreb %>
</p>

<p>
  <strong>Ap10 reb:</strong>
  <%= @game_recap.ap10_reb %>
</p>

<p>
  <strong>Ap10 ast:</strong>
  <%= @game_recap.ap10_ast %>
</p>

<p>
  <strong>Ap10 stl:</strong>
  <%= @game_recap.ap10_stl %>
</p>

<p>
  <strong>Ap10 blk:</strong>
  <%= @game_recap.ap10_blk %>
</p>

<p>
  <strong>Ap10 to:</strong>
  <%= @game_recap.ap10_to %>
</p>

<p>
  <strong>Ap10 pf:</strong>
  <%= @game_recap.ap10_pf %>
</p>

<p>
  <strong>Ap10 starter:</strong>
  <%= @game_recap.ap10_starter %>
</p>

<p>
  <strong>Ap11 name:</strong>
  <%= @game_recap.ap11_name %>
</p>

<p>
  <strong>Ap11 min:</strong>
  <%= @game_recap.ap11_min %>
</p>

<p>
  <strong>Ap11 pts:</strong>
  <%= @game_recap.ap11_pts %>
</p>

<p>
  <strong>Ap11 fgma:</strong>
  <%= @game_recap.ap11_fgma %>
</p>

<p>
  <strong>Ap11 3pma:</strong>
  <%= @game_recap.ap11_3pma %>
</p>

<p>
  <strong>Ap11 ftma:</strong>
  <%= @game_recap.ap11_ftma %>
</p>

<p>
  <strong>Ap11 oreb:</strong>
  <%= @game_recap.ap11_oreb %>
</p>

<p>
  <strong>Ap11 dreb:</strong>
  <%= @game_recap.ap11_dreb %>
</p>

<p>
  <strong>Ap11 reb:</strong>
  <%= @game_recap.ap11_reb %>
</p>

<p>
  <strong>Ap11 ast:</strong>
  <%= @game_recap.ap11_ast %>
</p>

<p>
  <strong>Ap11 stl:</strong>
  <%= @game_recap.ap11_stl %>
</p>

<p>
  <strong>Ap11 blk:</strong>
  <%= @game_recap.ap11_blk %>
</p>

<p>
  <strong>Ap11 to:</strong>
  <%= @game_recap.ap11_to %>
</p>

<p>
  <strong>Ap11 pf:</strong>
  <%= @game_recap.ap11_pf %>
</p>

<p>
  <strong>Ap11 starter:</strong>
  <%= @game_recap.ap11_starter %>
</p>

<p>
  <strong>Ap12 name:</strong>
  <%= @game_recap.ap12_name %>
</p>

<p>
  <strong>Ap12 min:</strong>
  <%= @game_recap.ap12_min %>
</p>

<p>
  <strong>Ap12 pts:</strong>
  <%= @game_recap.ap12_pts %>
</p>

<p>
  <strong>Ap12 fgma:</strong>
  <%= @game_recap.ap12_fgma %>
</p>

<p>
  <strong>Ap12 3pma:</strong>
  <%= @game_recap.ap12_3pma %>
</p>

<p>
  <strong>Ap12 ftma:</strong>
  <%= @game_recap.ap12_ftma %>
</p>

<p>
  <strong>Ap12 oreb:</strong>
  <%= @game_recap.ap12_oreb %>
</p>

<p>
  <strong>Ap12 dreb:</strong>
  <%= @game_recap.ap12_dreb %>
</p>

<p>
  <strong>Ap12 reb:</strong>
  <%= @game_recap.ap12_reb %>
</p>

<p>
  <strong>Ap12 ast:</strong>
  <%= @game_recap.ap12_ast %>
</p>

<p>
  <strong>Ap12 stl:</strong>
  <%= @game_recap.ap12_stl %>
</p>

<p>
  <strong>Ap12 blk:</strong>
  <%= @game_recap.ap12_blk %>
</p>

<p>
  <strong>Ap12 to:</strong>
  <%= @game_recap.ap12_to %>
</p>

<p>
  <strong>Ap12 pf:</strong>
  <%= @game_recap.ap12_pf %>
</p>

<p>
  <strong>Ap12 starter:</strong>
  <%= @game_recap.ap12_starter %>
</p>

<p>
  <strong>Ap13 name:</strong>
  <%= @game_recap.ap13_name %>
</p>

<p>
  <strong>Ap13 min:</strong>
  <%= @game_recap.ap13_min %>
</p>

<p>
  <strong>Ap13 pts:</strong>
  <%= @game_recap.ap13_pts %>
</p>

<p>
  <strong>Ap13 fgma:</strong>
  <%= @game_recap.ap13_fgma %>
</p>

<p>
  <strong>Ap13 3pma:</strong>
  <%= @game_recap.ap13_3pma %>
</p>

<p>
  <strong>Ap13 ftma:</strong>
  <%= @game_recap.ap13_ftma %>
</p>

<p>
  <strong>Ap13 oreb:</strong>
  <%= @game_recap.ap13_oreb %>
</p>

<p>
  <strong>Ap13 dreb:</strong>
  <%= @game_recap.ap13_dreb %>
</p>

<p>
  <strong>Ap13 reb:</strong>
  <%= @game_recap.ap13_reb %>
</p>

<p>
  <strong>Ap13 ast:</strong>
  <%= @game_recap.ap13_ast %>
</p>

<p>
  <strong>Ap13 stl:</strong>
  <%= @game_recap.ap13_stl %>
</p>

<p>
  <strong>Ap13 blk:</strong>
  <%= @game_recap.ap13_blk %>
</p>

<p>
  <strong>Ap13 to:</strong>
  <%= @game_recap.ap13_to %>
</p>

<p>
  <strong>Ap13 pf:</strong>
  <%= @game_recap.ap13_pf %>
</p>

<p>
  <strong>Ap13 starter:</strong>
  <%= @game_recap.ap13_starter %>
</p>

<p>
  <strong>H nick:</strong>
  <%= @game_recap.h_nick %>
</p>

<p>
  <strong>A nick:</strong>
  <%= @game_recap.a_nick %>
</p>

<p>
  <strong>H initials:</strong>
  <%= @game_recap.h_initials %>
</p>

<p>
  <strong>A initials:</strong>
  <%= @game_recap.a_initials %>
</p>

<p>
  <strong>Aq1:</strong>
  <%= @game_recap.aq1 %>
</p>

<p>
  <strong>Aq2:</strong>
  <%= @game_recap.aq2 %>
</p>

<p>
  <strong>Aq3:</strong>
  <%= @game_recap.aq3 %>
</p>

<p>
  <strong>Aq4:</strong>
  <%= @game_recap.aq4 %>
</p>

<p>
  <strong>Aq5:</strong>
  <%= @game_recap.aq5 %>
</p>

<p>
  <strong>Aq6:</strong>
  <%= @game_recap.aq6 %>
</p>

<p>
  <strong>Aq7:</strong>
  <%= @game_recap.aq7 %>
</p>

<p>
  <strong>Aq8:</strong>
  <%= @game_recap.aq8 %>
</p>

<p>
  <strong>Aq9:</strong>
  <%= @game_recap.aq9 %>
</p>

<p>
  <strong>Aq10:</strong>
  <%= @game_recap.aq10 %>
</p>

<p>
  <strong>Hq1:</strong>
  <%= @game_recap.hq1 %>
</p>

<p>
  <strong>Hq2:</strong>
  <%= @game_recap.hq2 %>
</p>

<p>
  <strong>Hq3:</strong>
  <%= @game_recap.hq3 %>
</p>

<p>
  <strong>Hq4:</strong>
  <%= @game_recap.hq4 %>
</p>

<p>
  <strong>Hq5:</strong>
  <%= @game_recap.hq5 %>
</p>

<p>
  <strong>Hq6:</strong>
  <%= @game_recap.hq6 %>
</p>

<p>
  <strong>Hq7:</strong>
  <%= @game_recap.hq7 %>
</p>

<p>
  <strong>Hq8:</strong>
  <%= @game_recap.hq8 %>
</p>

<p>
  <strong>Hq9:</strong>
  <%= @game_recap.hq9 %>
</p>

<p>
  <strong>Hq10:</strong>
  <%= @game_recap.hq10 %>
</p>

<p>
  <strong>Afgp:</strong>
  <%= @game_recap.afgp %>
</p>

<p>
  <strong>Aftp:</strong>
  <%= @game_recap.aftp %>
</p>

<p>
  <strong>A3ptp:</strong>
  <%= @game_recap.a3ptp %>
</p>

<p>
  <strong>Arebt:</strong>
  <%= @game_recap.arebt %>
</p>

<p>
  <strong>Aastt:</strong>
  <%= @game_recap.aastt %>
</p>

<p>
  <strong>Astlt:</strong>
  <%= @game_recap.astlt %>
</p>

<p>
  <strong>Ablkt:</strong>
  <%= @game_recap.ablkt %>
</p>

<p>
  <strong>Hfgp:</strong>
  <%= @game_recap.hfgp %>
</p>

<p>
  <strong>Hftp:</strong>
  <%= @game_recap.hftp %>
</p>

<p>
  <strong>H3ptp:</strong>
  <%= @game_recap.h3ptp %>
</p>

<p>
  <strong>Hrebt:</strong>
  <%= @game_recap.hrebt %>
</p>

<p>
  <strong>Hastt:</strong>
  <%= @game_recap.hastt %>
</p>

<p>
  <strong>Hstlt:</strong>
  <%= @game_recap.hstlt %>
</p>

<p>
  <strong>Hblkt:</strong>
  <%= @game_recap.hblkt %>
</p>

<p>
  <strong>Awaytfgma:</strong>
  <%= @game_recap.awaytfgma %>
</p>

<p>
  <strong>Awaytftma:</strong>
  <%= @game_recap.awaytftma %>
</p>

<p>
  <strong>Awayt3fgma:</strong>
  <%= @game_recap.awayt3fgma %>
</p>

<p>
  <strong>Hometfgma:</strong>
  <%= @game_recap.hometfgma %>
</p>

<p>
  <strong>Hometftma:</strong>
  <%= @game_recap.hometftma %>
</p>

<p>
  <strong>Homet3fgma:</strong>
  <%= @game_recap.homet3fgma %>
</p>

<p>
  <strong>Hometoreb:</strong>
  <%= @game_recap.hometoreb %>
</p>

<p>
  <strong>Hometdreb:</strong>
  <%= @game_recap.hometdreb %>
</p>

<p>
  <strong>Awaytoreb:</strong>
  <%= @game_recap.awaytoreb %>
</p>

<p>
  <strong>Awaytdreb:</strong>
  <%= @game_recap.awaytdreb %>
</p>

<p>
  <strong>Hometto:</strong>
  <%= @game_recap.hometto %>
</p>

<p>
  <strong>Hometpf:</strong>
  <%= @game_recap.hometpf %>
</p>

<p>
  <strong>Awaytto:</strong>
  <%= @game_recap.awaytto %>
</p>

<p>
  <strong>Awaytpf:</strong>
  <%= @game_recap.awaytpf %>
</p>

<%= link_to 'Edit', edit_game_recap_path(@game_recap) %> |
<%= link_to 'Back', game_recaps_path %>
