<h2><%=@greeting%></h2>, a visitor to your site has sent you the following message: </h2>

<p>New message from <%= @name %></p>
<p class="typical_headers">Email Address: <%=@email %></p>
<p class="typical_headers">Phone: <%= @phone %></p>
<p class="typical_headers">Preferred Contact Method: <%= @contact %></p>

<p class="typical_headers">Question: <%= @question %></p>
<p class="typical_headers">Receive Newsletter: <%= @newsletter %></p>
<p class="typical_headers">Receive Song: <%= @song %></p>





