<h1>Boxscores &amp; Game Calendar</h1>
<% calendar_color="" %>
<div id="calendar">
  <h2 id="month">
  <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %> <%= link_to ">", date: @date.next_month %></h2>


  <%= calendar @date do |datey| %>
      <%versus_or_at="" %>

      <%= datey.day %>
      <% if @season15_16_by_date[datey.strftime("%Y-%m-%d")] %>


      <ul>
        <% @season15_16_by_date[datey.strftime("%Y-%m-%d")].each do |matchup| %>

            <% if matchup.h_initials=='POR' %>
                <% calendar_color='home_key' %>


                <% if matchup.htotal.to_i > matchup.atotal.to_i %>
                <%win_or_loss="W" %>

                <% elsif matchup.htotal.to_i < matchup.atotal.to_i %>
                <% win_or_loss="L" %>


                    <% end %>


            <% end %>

            <% if matchup.a_initials=='POR' %>
                <% calendar_color='away_key' %>
                <% if matchup.atotal.to_i > matchup.htotal.to_i %>
                    <%win_or_loss="W" %>
                    <% elsif matchup.atotal.to_i < matchup.htotal.to_i%>
                    <%win_or_loss="L" %>


                <% end %>

            <%end %>


        <li class="<%=calendar_color %>"><%= link_to (""+matchup.a_initials+" "+ matchup.atotal+"<br/> @ <br/>"+ matchup.h_initials+" "+ matchup.htotal+"<br/>"+win_or_loss.to_s).html_safe, matchup %></li>
        <%end %>

      </ul>

      <%end%>

  <% end %>

</div>
<br/>
<br/>
<div id="calendar_key">
  <h2>calendar key</h2>
  <table>
    <tr><td><div class="todays_date">Today</div></td></tr><tr><td><div class="home_key"><span href="" class="uk-icon-justify uk-icon-home"></span>Home</div></td></tr><tr><td><div class="away_key"><span href="" class="uk-icon-justify uk-icon-plane"></span>Away</div></td></tr>

  </table>

</div>




