<% require 'active_support'%>
<div data-uk-slider>

  <div class="uk-slider-container">
    <ul class="uk-slider uk-grid-width-medium-1-4">
<% @last_recapper2.each do |c| %>

    <% versus_or_at="" %>

    <% away_nick_dash=c.afname.parameterize+'.png' %>
    <% home_nick_dash=c.hfname.parameterize+'.png' %>
    <%# c.a_nick %>
    <% date_time =Time.parse(c.datey.to_s) %>

    <% #I can build this out with logic and then make portland away or memphis above in the logic sir. nice work.%>

    <% if c.h_initials=='POR' %>
        <%versus_or_at="VS." %>
        <% home_or_away = c.afname.downcase+'<span class="box_total_h2"> '+c.atotal+"</span><br/>at<br/> portland trail blazers <span class='box_total_h2'>"+c.htotal+"</span>" %>
        <% if c.htotal.to_i > c.atotal.to_i %>
            <% win_or_loss ="<span class='win_loss_box_show_win2'>W</span>" %>
        <%else %>
            <% win_or_loss =""%>
        <%end%>
        <% if c.htotal.to_i < c.atotal.to_i %>
            <% win_or_loss ="<span class='win_loss_box_show_loss2'>L</span>" %> <% end %>

              <li>
                <div class="uk-clearfix">
                  <table id="header_last_game">
                    <tr><th colspan="3"><%= date_time.strftime("%b #{date_time.day.ordinalize} %Y ")%></th></tr>
                    <tr><td><%= image_tag(home_nick_dash, style: "", class: "uk-img-preserve")%><br/> <%=c.h_initials %><br/><%=c.htotal%></td><td><%= versus_or_at.html_safe%><br/><br/><%=win_or_loss.html_safe%></td><td><%= image_tag(away_nick_dash, style: "", class: "uk-img-preserve")%><br/> <%=c.a_initials %><br/><%=c.atotal%></td></tr>
                    <tr><td colspan="3"><div data-uk-button-radio><%= link_to 'Box Score', c, class: "uk-button uk-button-mini" %>  </div></td></tr>
                  </table>
                </div>

              </li>

    <%else %>
    <% end %>

    <% if c.a_initials=='POR' %>
        <% versus_or_at="@" %>
        <% home_or_away ="portland trail blazers <span class='box_total_h2'>"+c.atotal+"</span> <br/>at</br> "+c.hfname.downcase+ " <span class='box_total_h2'>"+c.htotal+"</span>" %>
        <% if c.atotal.to_i > c.htotal.to_i %>

            <% win_or_loss ="<span class='win_loss_box_show_win2'>W</span>" %>
        <%end%>

        <% if c.atotal.to_i < c.htotal.to_i %>
            <% win_or_loss ="<span class='win_loss_box_show_loss2'>L</span>" %>
        <% end %>
              <li>
        <div class="uk-clearfix">
          <table id="header_last_game">
            <tr><th colspan="3"><%= date_time.strftime("%b #{date_time.day.ordinalize} %Y ")%></th></tr>
            <tr><td><%= image_tag(away_nick_dash, style: "", class: "uk-img-preserve")%><br/> <%=c.a_initials %><br/><%=c.atotal%></td><td><%= versus_or_at.html_safe%><br/><br/><%=win_or_loss.html_safe%></td><td><%= image_tag(home_nick_dash, style: "", class: "uk-img-preserve")%><br/> <%=c.h_initials %><br/><%=c.htotal%></td></tr>
            <tr><td colspan="3"><div data-uk-button-radio><%= link_to 'Box Score', c, class: "uk-button uk-button-mini" %>  </div></td></tr>
          </table>
        </div>
              </li>
    <% else %>

    <% end %>

<% end %>

</ul>
</div>

</div>
<br/>
<%= link_to 'Previous Scores', game_recaps_path, class: "uk-button uk-button" %>
<br/>



<hr>

<% @last_articles.each do |x| %>
    <% date_time2 =Time.parse(x.date.to_s) %>
    <article class="uk-article">
      <h1 class="uk-article-title"><%= link_to x.title, x, class: "uk-article-title-a" %></h1>
      <p class="uk-article-meta"><%= "written by "+x.author %> <br/><%=" on "+ date_time2.strftime("%B #{date_time2.day.ordinalize} %Y ") %> </p>

      <p class="uk-clearfix">

        <%= image_tag(x.image.url, class: "uk-thumbnail-medium uk-align-medium-right" ) %>
        <span class="article-texterson"><%= truncate(strip_tags(x.story), length:100).html_safe%></span>
        <br/>
        <br/>

        <%= link_to 'Continue Reading', x, class: "uk-button uk-button-danger" %>
        <a class="uk-button" href="#"># Comments</a>

      </p>

    </article>
<%end%>
<hr>
<h2>Blazer and NBA Memes?</h2>


