<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Story</th>
      <th>Caption</th>
      <% if current_baller.try(:admin?) %>
      <th></th>
      <th></th>
          <%else %>

          <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.author %></td>
        <td><%= story.date %></td>
        <td><%= link_to 'Show', story %></td>
        <% if current_baller.try(:admin?) %>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      <%else %>

        <%end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
