<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Story</th>
      <th>Caption</th>
      <th>Image</th>
      <th>Published</th>
      <th>Main story</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.author %></td>
        <td><%= story.date %></td>
        <td><%= story.story %></td>
        <td><%= story.caption %></td>
        <td><%= story.image %></td>
        <td><%= story.published %></td>
        <td><%= story.main_story %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
