<p id="notice"><%= notice %></p>
<% date_time =Time.parse(@story.date.to_s) %>

<div id="news_show_organize3">
  <h2><%= @story.title %><br/><span class="uk-article-meta">by <%= @story.author %><br/><%= date_time.strftime("%B #{date_time.day.ordinalize} %Y ")%></h2></span>

  <%= image_tag @story.image.url, class: "uk-thumbnail-medium" %>
  <p>
    <strong>Caption:</strong>
    <%= @story.caption %>
  </p>



  <%= @story.story.html_safe %>

  <%= link_to 'Edit', edit_story_path(@story) %> ||&nbsp;
  <%= link_to 'Back', stories_path %>&nbsp;
  <%= link_to 'Home', page_home_path %>
</div>

<!--<p>-->
  <!--<strong>Title:</strong>-->
  <!--<%= @story.title %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Author:</strong>-->
  <!--<%= @story.author %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Date:</strong>-->
  <!--<%= @story.date %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Story:</strong>-->
  <!--<%= @story.story %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Caption:</strong>-->
  <!--<%= @story.caption %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Image:</strong>-->

  <!--<%= image_tag @story.image.url, class: "uk-thumbnail-medium" %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Published:</strong>-->
  <!--<%= @story.published %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Main story:</strong>-->
  <!--<%= @story.main_story %>-->
<!--</p>-->


